//ESPAÇOS

.espaco-img-index-superior {
	height: 80px;
}

.espaco-img-index {
	height: 50px;
}

.espaco-img-index-2 {
	height: 30px;
}

.espaco-plano-1 {
    height: 130px;
}

.espaco-plano-2 {
    height: 110px;
}

.espaco-plano-4 {
    height: 293px;
}

.espaco-plano-rapido {
	height: 30px;
}

.espaco-consulta-dominio {
	height: 91px;
}

.espaco-consulta-dominio-interno {
	height: 60px;
}

.voltar-topo {
	margin-bottom: 70px;
}

.voltar-topo-pre {
	margin-bottom: 30px;
}

.espaco-pre-footer {
	height: 90px;
}

.espaco-index {
	height: 25px;
}

// CONTATOS
.separador-telefone-contato {
	height: 10px;
}

#encontre {
	margin-top: 30px;
}

.espaco-endereco-contato {
	height: 60px;
}

.espaco-seta-endereco-contato {
	height: 110px;
}