//ESPAÇOS

.espaco-img-index-superior {
	height: 80px;
}

.espaco-img-index {
	height: 50px;
}

.espaco-img-index-2 {
	height: 70px;
}

.espaco-plano-1 {
    height: 145px;
}

.espaco-plano-2 {
    height: 128px;
}

.espaco-plano-4 {
    height: 293px;
}

.espaco-plano-rapido {
	height: 38px;
}

.espaco-consulta-dominio {
	height: 103px;
}

// CONTATOS
.contatos {
	padding-top: 10px;
	padding-bottom: 10px;
}