// RESPONSIVIDADE

@media (max-width: 575.98px) {
	
	// INDEX
	.animate-character {
		font-size: 21px;
	}

	.espaco-img-index-superior {
		height: 30px;
	}

	.espaco-img-index {
		height: 30px;
	}
	
	.espaco-img-index-2 {
		height: 50px;
	}

	img.width {
		width: 80px;	
	}
	
	img.width-maior {
		width: 100px;	
	}

	h2.planos {
		font-size: 32px;
	}

	section#planos>
	div#container-ofertas>
	div#plano>
	div.plano>
	h3#titulo-plano {
		font-size: 28px;
	}

	.espaco-plano-1,
	.espaco-plano-2,
	.espaco-plano-rapido {
		height: 10px;
	}
	
	.animate-character-mini {
		font-size: 30px;
	}

	.index-consulte {
		font-size: 16px;
	}

	section#planos>
	div#container-ofertas>
	div#plano>
	div.plano>
	a.link-index>
	h3 {
		font-size: 20px;
	}

	.espaco-consulta-dominio {
		height: 10px;
	}

	.espaco-consulta-dominio-interno {
		height: 40px;
	}

	.animate-character-fale-conosco {
		font-size: 40px;
	}

	.deseja-mensagem {
		font-size: 20px;
	}

	.label-mensagem {
		margin-top: 20px;
		margin-bottom: 0px;
	}

	.input-mensagem {
		margin-top: 0px;
		margin-bottom: 5px;
	}

	.voltar-topo {
		padding-bottom: 55px;
	}

	// CONTATOS
	.font-titulo-contatos {
		font-size: 26px;
	}

	.font-link-telefone-contatos {
		font-size: 20px;
	}

	#encontre {
		margin-top: 30px;
	}
	
	.espaco-endereco-contato {
		height: 20px;
	}
	
	.espaco-seta-endereco-contato {
		height: 20px;
	}

	.seta-mapa-direita {
		display: none;
	}

	.seta-mapa-abaixo {
		display: initial;
		margin-bottom: 20px;
	}

	// INSTITUCIONAL
	.espaco-pre-footer {
		height: 150px;
	}
}

/*Extra small devices (portrait phones, menor que 576px)*/
@media (min-width: 576px) and (max-width: 767.98px) {
	
	.animate-character {
		font-size: 22px;
	}

	.espaco-img-index-superior {
		height: 30px;
	}

	.espaco-img-index {
		height: 30px;
	}
	
	.espaco-img-index-2 {
		height: 50px;
	}

	img.width {
		width: 80px;	
	}
	
	img.width-maior {
		width: 100px;	
	}

	h2.planos {
		font-size: 32px;
	}

	section#planos>
	div#container-ofertas>
	div#plano>
	div.plano>
	h3#titulo-plano {
		font-size: 28px;
	}

	.espaco-plano-1,
	.espaco-plano-2,
	.espaco-plano-rapido {
		height: 10px;
	}
	
	.animate-character-mini {
		font-size: 20px;
	}

	.index-consulte {
		font-size: 16px;
	}

	section#planos>
	div#container-ofertas>
	div#plano>
	div.plano>
	a.link-index>
	h3 {
		font-size: 20px;
	}

	.espaco-consulta-dominio {
		height: 10px;
	}

	.espaco-consulta-dominio-interno {
		height: 40px;
	}

	.animate-character-fale-conosco {
		font-size: 40px;
	}

	.deseja-mensagem {
		font-size: 20px;
	}

	.label-mensagem {
		margin-top: 20px;
		margin-bottom: 0px;
	}

	.input-mensagem {
		margin-top: 0px;
		margin-bottom: 5px;
	}

	.voltar-topo {
		padding-bottom: 25px;
	}

	// INSTITUCIONAL
	.espaco-pre-footer {
		height: 150px;
	}

	// CONTATOS
	.font-titulo-contatos {
		font-size: 26px;
	}
	
	.font-link-telefone-contatos {
		font-size: 20px;
	}
	
	#encontre {
		margin-top: 30px;
	}
	
	.espaco-endereco-contato {
		height: 20px;
	}
	
	.espaco-seta-endereco-contato {
		height: 20px;
	}

	.seta-mapa-direita {
		display: none;
	}

	.seta-mapa-abaixo {
		display: initial;
		margin-bottom: 20px;
	}
}

/*Small devices (landscape phones, 576px e maiores)*/
@media (min-width: 768px) and (max-width: 990.98px) {
	
	.animate-character {
		font-size: 30px;
	}

	.espaco-img-index-superior {
		height: 30px;
	}

	.espaco-img-index {
		height: 30px;
	}
	
	.espaco-img-index-2 {
		height: 50px;
	}

	img.width {
		width: 80px;	
	}
	
	img.width-maior {
		width: 100px;	
	}

	section#planos>
	div#container-ofertas>
	div#plano>
	div.plano>
	h3#titulo-plano {
		font-size: 18px;
	}

	.espaco-plano-1 {
		height: 181px;
	}
	
	.espaco-plano-2 {
		height: 162px;
	}

	.espaco-plano-rapido {
		height: 105px;
	}

	div.plano>
	div>
	a {
		font-size: 20px;
		font-weight: bold;
	}
	
	.animate-character-mini {
		font-size: 20px;
	}

	.index-consulte {
		font-size: 16px;
	}

	section#planos>
	div#container-ofertas>
	div#plano>
	div.plano>
	a.link-index>
	h3 {
		font-size: 20px;
	}

	.espaco-consulta-dominio {
		height: 152px;
	}
	
	.espaco-consulta-dominio-interno {
		height: 40px;
	}
	
	.animate-character-fale-conosco {
		font-size: 40px;
	}

	.deseja-mensagem {
		font-size: 20px;
	}

	.voltar-topo {
		margin-bottom: 80px;
	}

	// INSTITUCIONAL
	.espaco-pre-footer {
		height: 150px;
	}

	// CONTATOS
	.font-titulo-contatos {
		font-size: 35px;
	}
	
	.font-link-telefone-contatos {
		font-size: 20px;
	}

	.divisor-contato {
		display: none;
	}
}

/*Medium devices (tablets, 768px e maiores)*/
@media (min-width: 991px) and (max-width: 1199.98px) {
	
	.animate-character {
		font-size: 40px;
	}

	.espaco-img-index-superior {
		height: 100px;
	}

	.espaco-plano-1 {
		height: 162px;
	}
	
	.espaco-plano-2 {
		height: 144px;
	}

	.espaco-plano-rapido {
		height: 59px;
	}

	.animate-character-mini {
		font-size: 30px;
	}

	.espaco-consulta-dominio {
		height: 112px;
	}
	
	.espaco-consulta-dominio-interno {
		height: 56px;
	}

	.deseja-mensagem {
		font-size: 24px;
	}

	.voltar-topo {
		margin-bottom: 80px;
	}

	// CONTATO
	.divisor-contato {
		display: none;
	}

	.espaco-endereco-contato {
		height: 60px;
	}
}

/*Large devices (desktops, 992px e maiores)*/
@media (min-width: 1200px) {
	
	// CONTATO
	.divisor-contato {
		display: none;
	}

	body {
		margin-bottom: 100px;
	}
}