/* line 3, ../../xampp/htdocs/ResolveSystemsOnLine/scss/_background.scss */
.bg-cinza {
  background-color: #5c5c5c;
}

/* line 7, ../../xampp/htdocs/ResolveSystemsOnLine/scss/_background.scss */
.caixa div {
  background: #ffffffb0;
}

/* line 2, ../../xampp/htdocs/ResolveSystemsOnLine/scss/_bordas.scss */
.borda-redonda-10 {
  border-radius: 10px;
}

/* line 6, ../../xampp/htdocs/ResolveSystemsOnLine/scss/_bordas.scss */
.borda-redonda-20,
.borda-redonda-20-footer {
  border-radius: 20px;
}

/* line 11, ../../xampp/htdocs/ResolveSystemsOnLine/scss/_bordas.scss */
.borda-redonda-40 {
  border-radius: 40px;
}

/* line 15, ../../xampp/htdocs/ResolveSystemsOnLine/scss/_bordas.scss */
.borda-redonda-10-right {
  border-radius: 0 10px 10px 0;
}

/* line 19, ../../xampp/htdocs/ResolveSystemsOnLine/scss/_bordas.scss */
.borda-redonda-10-left {
  border-radius: 10px 0 0 10px;
}

/* line 23, ../../xampp/htdocs/ResolveSystemsOnLine/scss/_bordas.scss */
.borda-redonda-20-right {
  border-radius: 0 20px 20px 0;
}

/* line 27, ../../xampp/htdocs/ResolveSystemsOnLine/scss/_bordas.scss */
.borda-redonda-20-left {
  border-radius: 20px 0 0 20px;
}

/* line 31, ../../xampp/htdocs/ResolveSystemsOnLine/scss/_bordas.scss */
.borda-redonda-top-left {
  border-radius: 10px 0 0 0;
}

/* line 35, ../../xampp/htdocs/ResolveSystemsOnLine/scss/_bordas.scss */
.borda-redonda-top-right {
  border-radius: 0 10px 0 0;
}

/* line 39, ../../xampp/htdocs/ResolveSystemsOnLine/scss/_bordas.scss */
.caixa-borda {
  width: 300px;
  height: 150px;
  background: #5ccc3a;
  padding: 10px;
  border-radius: 10px 50px 90px 130px;
  box-sizing: border-box;
}

/* line 48, ../../xampp/htdocs/ResolveSystemsOnLine/scss/_bordas.scss */
.caixa-borda-espessura {
  border-style: solid;
  border-color: #5ccc3a;
  border-width: 30px;
}

/* line 54, ../../xampp/htdocs/ResolveSystemsOnLine/scss/_bordas.scss */
.caixa-borda-estilo-solid {
  width: 300px;
  height: 50px;
  border-style: solid;
  border-width: 10px;
  border-color: green;
}

/* line 62, ../../xampp/htdocs/ResolveSystemsOnLine/scss/_bordas.scss */
.caixa-borda-estilo-groove {
  width: 300px;
  height: 100px;
  border-style: groove;
  border-width: 30px;
  border-color: green;
}

/* line 70, ../../xampp/htdocs/ResolveSystemsOnLine/scss/_bordas.scss */
.caixa-borda-estilo-dotted {
  width: 300px;
  height: 50px;
  border-style: dotted;
  border-width: 3px;
  border-color: green;
}

/* line 78, ../../xampp/htdocs/ResolveSystemsOnLine/scss/_bordas.scss */
.caixa-borda-estilo-inset {
  width: 300px;
  height: 100px;
  border-style: inset;
  border-width: 30px;
  border-color: green;
}

/* line 3, ../../xampp/htdocs/ResolveSystemsOnLine/scss/_botoes.scss */
div.plano >
div >
a {
  font-size: 24px;
  font-weight: bold;
  border: 2px solid;
}

/* line 9, ../../xampp/htdocs/ResolveSystemsOnLine/scss/_botoes.scss */
div.plano >
div >
a.btn:hover {
  background-color: #fff;
  color: #007bff;
  border: 2px solid #007bff;
}

/* line 17, ../../xampp/htdocs/ResolveSystemsOnLine/scss/_botoes.scss */
*, *:before, *:after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

/* line 25, ../../xampp/htdocs/ResolveSystemsOnLine/scss/_botoes.scss */
.buttons {
  margin-top: 20px;
  text-align: center;
  border-radius: 20px;
  height: 60px;
}

/* line 34, ../../xampp/htdocs/ResolveSystemsOnLine/scss/_botoes.scss */
a.blob-btn {
  text-decoration: none;
}

/* line 38, ../../xampp/htdocs/ResolveSystemsOnLine/scss/_botoes.scss */
.blob-btn {
  z-index: 0;
  position: relative;
  padding: 10px 25px;
  margin-bottom: 10px;
  text-align: center;
  text-transform: uppercase;
  color: #007bff;
  font-size: 16px;
  font-weight: bold;
  background-color: transparent;
  outline: none;
  border: none;
  transition: color 0.5s;
  cursor: pointer;
  border-radius: 20px;
}

/* line 55, ../../xampp/htdocs/ResolveSystemsOnLine/scss/_botoes.scss */
.blob-btn:before {
  content: "";
  z-index: 1;
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  border: 2px solid #007bff;
  border-radius: 20px;
}

/* line 66, ../../xampp/htdocs/ResolveSystemsOnLine/scss/_botoes.scss */
.blob-btn:after {
  content: "";
  z-index: -2;
  position: absolute;
  left: 3px;
  top: 3px;
  width: 100%;
  height: 100%;
  transition: all 0.3s 0.2s;
  border-radius: 30px;
}

/* line 77, ../../xampp/htdocs/ResolveSystemsOnLine/scss/_botoes.scss */
.blob-btn:hover {
  color: #fff;
  border-radius: 30px;
}

/* line 80, ../../xampp/htdocs/ResolveSystemsOnLine/scss/_botoes.scss */
.blob-btn:hover:after {
  transition: all 0.3s;
  left: 0;
  top: 0;
  border-radius: 30px;
}

/* line 87, ../../xampp/htdocs/ResolveSystemsOnLine/scss/_botoes.scss */
.blob-btn__inner {
  z-index: -1;
  overflow: hidden;
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  border-radius: 30px;
  background: #ffffff;
}

/* line 99, ../../xampp/htdocs/ResolveSystemsOnLine/scss/_botoes.scss */
.blob-btn__blobs {
  position: relative;
  display: block;
  height: 100%;
  filter: url("#goo");
}

/* line 105, ../../xampp/htdocs/ResolveSystemsOnLine/scss/_botoes.scss */
.blob-btn__blob {
  position: absolute;
  top: 2px;
  width: 25%;
  height: 100%;
  background: #007bff;
  border-radius: 100%;
  transform: translate3d(0, 150%, 0) scale(1.7);
  transition: transform 0.45s;
}

@supports (filter: url("#goo")) {
  /* line 105, ../../xampp/htdocs/ResolveSystemsOnLine/scss/_botoes.scss */
  .blob-btn__blob {
    transform: translate3d(0, 150%, 0) scale(1.4);
  }
}

/* line 118, ../../xampp/htdocs/ResolveSystemsOnLine/scss/_botoes.scss */
.blob-btn__blob:nth-child(1) {
  left: 0%;
  transition-delay: 0s;
}

/* line 118, ../../xampp/htdocs/ResolveSystemsOnLine/scss/_botoes.scss */
.blob-btn__blob:nth-child(2) {
  left: 30%;
  transition-delay: 0.08s;
}

/* line 118, ../../xampp/htdocs/ResolveSystemsOnLine/scss/_botoes.scss */
.blob-btn__blob:nth-child(3) {
  left: 60%;
  transition-delay: 0.16s;
}

/* line 118, ../../xampp/htdocs/ResolveSystemsOnLine/scss/_botoes.scss */
.blob-btn__blob:nth-child(4) {
  left: 90%;
  transition-delay: 0.24s;
}

/* line 123, ../../xampp/htdocs/ResolveSystemsOnLine/scss/_botoes.scss */
.blob-btn:hover .blob-btn__blob {
  transform: translateZ(0) scale(1.7);
}

@supports (filter: url("#goo")) {
  /* line 123, ../../xampp/htdocs/ResolveSystemsOnLine/scss/_botoes.scss */
  .blob-btn:hover .blob-btn__blob {
    transform: translateZ(0) scale(1.4);
  }
}

/* line 135, ../../xampp/htdocs/ResolveSystemsOnLine/scss/_botoes.scss */
.custom-btn {
  margin: 20px 0px;
  width: 130px;
  height: 40px;
  color: #fff;
  border-radius: 5px;
  padding: 60px 20px 0px 20px;
  font-family: 'Lato', sans-serif;
  font-weight: 700;
  background: transparent;
  cursor: pointer;
  transition: all 0.3s ease;
  position: relative;
  display: inline-block;
  box-shadow: inset 2px 2px  2px 0px #ffffff80, 7px 7px 20px 0px #0000001a, 4px 4px  5px 0px #0000001a;
  outline: none;
}

/* line 155, ../../xampp/htdocs/ResolveSystemsOnLine/scss/_botoes.scss */
.btn-giro {
  position: relative;
  right: 20px;
  bottom: 20px;
  border: none;
  box-shadow: none;
  width: 130px;
  height: 40px;
  line-height: 42px;
  -webkit-perspective: 230px;
  perspective: 230px;
}

/* line 168, ../../xampp/htdocs/ResolveSystemsOnLine/scss/_botoes.scss */
.btn-giro span {
  background: #007bff;
  display: block;
  position: absolute;
  width: 130px;
  height: 40px;
  box-shadow: inset 2px 2px  2px 0px #ffffff80, 7px 7px 20px 0px #0000001a, 4px 4px  5px 0px #0000001a;
  border-radius: 5px;
  margin: 0;
  text-align: center;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  -webkit-transition: all .3s;
  transition: all .3s;
}

/* line 187, ../../xampp/htdocs/ResolveSystemsOnLine/scss/_botoes.scss */
.btn-giro span:nth-child(1) {
  box-shadow: -7px -7px 20px 0px #fff9, -4px -4px  5px 0px #fff9, 7px  7px 20px 0px #0002, 4px  4px  5px 0px #0001;
  -webkit-transform: rotateX(90deg);
  -moz-transform: rotateX(90deg);
  transform: rotateX(90deg);
  -webkit-transform-origin: 50% 50% -20px;
  -moz-transform-origin: 50% 50% -20px;
  transform-origin: 50% 50% -20px;
}

/* line 201, ../../xampp/htdocs/ResolveSystemsOnLine/scss/_botoes.scss */
.btn-giro span:nth-child(2) {
  -webkit-transform: rotateX(0deg);
  -moz-transform: rotateX(0deg);
  transform: rotateX(0deg);
  -webkit-transform-origin: 50% 50% -20px;
  -moz-transform-origin: 50% 50% -20px;
  transform-origin: 50% 50% -20px;
}

/* line 210, ../../xampp/htdocs/ResolveSystemsOnLine/scss/_botoes.scss */
.btn-giro:hover span:nth-child(1) {
  box-shadow: inset 2px 2px  2px 0px #ffffff80, 7px 7px 20px 0px #0000001a, 4px 4px  5px 0px #0000001a;
  -webkit-transform: rotateX(0deg);
  -moz-transform: rotateX(0deg);
  transform: rotateX(0deg);
}

/* line 219, ../../xampp/htdocs/ResolveSystemsOnLine/scss/_botoes.scss */
.btn-giro:hover span:nth-child(2) {
  box-shadow: inset 2px 2px  2px 0px #ffffff80, 7px 7px 20px 0px #0000001a, 4px 4px  5px 0px #0000001a;
  color: transparent;
  -webkit-transform: rotateX(-90deg);
  -moz-transform: rotateX(-90deg);
  transform: rotateX(-90deg);
}

/* line 2, ../../xampp/htdocs/ResolveSystemsOnLine/scss/_carousel.scss */
.carousel-control-prev-icon,
.carousel-control-next-icon {
  background-color: #007bff;
}

/* line 2, ../../xampp/htdocs/ResolveSystemsOnLine/scss/_class.scss */
.classVisivel-no {
  display: none;
}

/* line 6, ../../xampp/htdocs/ResolveSystemsOnLine/scss/_class.scss */
.classVisivel-yes {
  display: contents;
}

/* line 1, ../../xampp/htdocs/ResolveSystemsOnLine/scss/_clock.scss */
.clock {
  background-color: #f8f9fa;
}

/* line 5, ../../xampp/htdocs/ResolveSystemsOnLine/scss/_clock.scss */
.clock:hover {
  text-decoration: none;
  font-size: 20px;
  background-color: #f8f9fa;
  color: #007bff;
  border: 1px solid #007bff;
  border-radius: 20px;
}

/* line 2, ../../xampp/htdocs/ResolveSystemsOnLine/scss/_display.scss */
.display-in {
  display: inline;
}

/* line 6, ../../xampp/htdocs/ResolveSystemsOnLine/scss/_display.scss */
.display-bl {
  display: block;
}

/* line 3, ../../xampp/htdocs/ResolveSystemsOnLine/scss/_espacos.scss */
.espaco-img-index-superior {
  height: 80px;
}

/* line 7, ../../xampp/htdocs/ResolveSystemsOnLine/scss/_espacos.scss */
.espaco-img-index {
  height: 50px;
}

/* line 11, ../../xampp/htdocs/ResolveSystemsOnLine/scss/_espacos.scss */
.espaco-img-index-2 {
  height: 70px;
}

/* line 15, ../../xampp/htdocs/ResolveSystemsOnLine/scss/_espacos.scss */
.espaco-plano-1 {
  height: 130px;
}

/* line 19, ../../xampp/htdocs/ResolveSystemsOnLine/scss/_espacos.scss */
.espaco-plano-2 {
  height: 110px;
}

/* line 23, ../../xampp/htdocs/ResolveSystemsOnLine/scss/_espacos.scss */
.espaco-plano-4 {
  height: 293px;
}

/* line 27, ../../xampp/htdocs/ResolveSystemsOnLine/scss/_espacos.scss */
.espaco-plano-rapido {
  height: 30px;
}

/* line 31, ../../xampp/htdocs/ResolveSystemsOnLine/scss/_espacos.scss */
.espaco-consulta-dominio {
  height: 99px;
}

/* line 36, ../../xampp/htdocs/ResolveSystemsOnLine/scss/_espacos.scss */
.contatos {
  padding-top: 10px;
  padding-bottom: 10px;
}

@font-face {
  font-family: "Ancient";
  src: url("../../fonts/Ancient-Medium.woff");
}

@font-face {
  font-family: "Bring";
  src: url("../../fonts/BringHeart.woff");
}

@font-face {
  font-family: "Madelina";
  src: url("../../fonts/MadelinaScript.woff");
}

@font-face {
  font-family: "Fasthand";
  src: url("../../fonts/Fasthand-Regular.ttf");
}

/* line 25, ../../xampp/htdocs/ResolveSystemsOnLine/scss/_fonts.scss */
.font-size-12 {
  font-size: 12px;
}

/* line 29, ../../xampp/htdocs/ResolveSystemsOnLine/scss/_fonts.scss */
.font-size-14 {
  font-size: 14px;
}

/* line 33, ../../xampp/htdocs/ResolveSystemsOnLine/scss/_fonts.scss */
.font-size-15 {
  font-size: 15px;
}

/* line 37, ../../xampp/htdocs/ResolveSystemsOnLine/scss/_fonts.scss */
.font-size-16 {
  font-size: 16px;
}

/* line 41, ../../xampp/htdocs/ResolveSystemsOnLine/scss/_fonts.scss */
.font-size-18 {
  font-size: 18px;
}

/* line 45, ../../xampp/htdocs/ResolveSystemsOnLine/scss/_fonts.scss */
.font-size-19 {
  font-size: 19px;
}

/* line 49, ../../xampp/htdocs/ResolveSystemsOnLine/scss/_fonts.scss */
.font-size-20, .texto-index {
  font-size: 20px;
}

/* line 53, ../../xampp/htdocs/ResolveSystemsOnLine/scss/_fonts.scss */
.font-size-22 {
  font-size: 22px;
}

/* line 57, ../../xampp/htdocs/ResolveSystemsOnLine/scss/_fonts.scss */
.font-size-24 {
  font-size: 24px;
}

/* line 61, ../../xampp/htdocs/ResolveSystemsOnLine/scss/_fonts.scss */
.font-size-25, .font-link {
  font-size: 25px;
}

/* line 65, ../../xampp/htdocs/ResolveSystemsOnLine/scss/_fonts.scss */
.font-size-26 {
  font-size: 26px;
}

/* line 68, ../../xampp/htdocs/ResolveSystemsOnLine/scss/_fonts.scss */
.deseja-mensagem,
.font-size-28 {
  font-size: 28px;
}

/* line 73, ../../xampp/htdocs/ResolveSystemsOnLine/scss/_fonts.scss */
.font-size-30 {
  font-size: 30px;
}

/* line 77, ../../xampp/htdocs/ResolveSystemsOnLine/scss/_fonts.scss */
.font-size-32 {
  font-size: 32px;
}

/* line 81, ../../xampp/htdocs/ResolveSystemsOnLine/scss/_fonts.scss */
.font-size-48 {
  font-size: 48px;
}

/* line 85, ../../xampp/htdocs/ResolveSystemsOnLine/scss/_fonts.scss */
.font-titulo-plano {
  font-size: 24px;
}

/* line 89, ../../xampp/htdocs/ResolveSystemsOnLine/scss/_fonts.scss */
.texto-index {
  color: #007bff;
  text-align: left;
}

/* line 95, ../../xampp/htdocs/ResolveSystemsOnLine/scss/_fonts.scss */
.texto {
  font-size: 1.5em;
  font-family: "Times New Roman", Times, serif;
}

/* line 100, ../../xampp/htdocs/ResolveSystemsOnLine/scss/_fonts.scss */
.negrito {
  font-weight: bold;
}

/* line 104, ../../xampp/htdocs/ResolveSystemsOnLine/scss/_fonts.scss */
.italico {
  font-style: italic;
}

/* line 108, ../../xampp/htdocs/ResolveSystemsOnLine/scss/_fonts.scss */
h1.ancient {
  font-size: 3em;
  font-family: "Ancient";
}

/* line 113, ../../xampp/htdocs/ResolveSystemsOnLine/scss/_fonts.scss */
h2.bring {
  font-family: "Bring";
  font-size: 3em;
}

/* line 118, ../../xampp/htdocs/ResolveSystemsOnLine/scss/_fonts.scss */
span.fasthand {
  font-family: "Fasthand";
  font-size: 1.3em;
}

/* line 123, ../../xampp/htdocs/ResolveSystemsOnLine/scss/_fonts.scss */
h3.madelina {
  font-size: 3em;
  font-family: "Madelina";
}

/* line 128, ../../xampp/htdocs/ResolveSystemsOnLine/scss/_fonts.scss */
.animate-character,
.animate-character-mini,
.animate-character-fale-conosco,
.animate-character-formatura,
.animate-character-formatura-2,
.animate-character-msg,
.animate-character-contrato {
  background-size: auto auto;
  background-clip: border-box;
  background-size: 200% auto;
  color: #fff;
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  display: inline-block;
  font-weight: bold;
}

/* line 147, ../../xampp/htdocs/ResolveSystemsOnLine/scss/_fonts.scss */
.animate-character,
.animate-character-formatura,
.animate-character-formatura-2,
.animate-character-contrato {
  animation: textclip 4s linear infinite;
}

/* line 154, ../../xampp/htdocs/ResolveSystemsOnLine/scss/_fonts.scss */
.animate-character-msg {
  animation: textclip 0.5s linear infinite;
}

/* line 158, ../../xampp/htdocs/ResolveSystemsOnLine/scss/_fonts.scss */
.animate-character-mini,
.animate-character-fale-conosco {
  animation: textclip 3s linear infinite;
}

/* line 163, ../../xampp/htdocs/ResolveSystemsOnLine/scss/_fonts.scss */
.animate-character,
.animate-character-mini,
.animate-character-fale-conosco,
.animate-character-msg {
  text-transform: uppercase;
  background-image: linear-gradient(-225deg, #007bff 0%, #28a745 20%, #ffc107 40%, #fd9902 60%, #e703fc 80%, #dc3545 100%);
}

/* line 179, ../../xampp/htdocs/ResolveSystemsOnLine/scss/_fonts.scss */
.animate-character-contrato {
  text-transform: uppercase;
  background-image: linear-gradient(-225deg, #28a745 0%, #ffc107 33%, #007bff 66%);
}

/* line 189, ../../xampp/htdocs/ResolveSystemsOnLine/scss/_fonts.scss */
.animate-character {
  font-size: 50px;
}

/* line 193, ../../xampp/htdocs/ResolveSystemsOnLine/scss/_fonts.scss */
.animate-character-mini {
  font-size: 35px;
}

/* line 197, ../../xampp/htdocs/ResolveSystemsOnLine/scss/_fonts.scss */
.animate-character-fale-conosco {
  font-size: 50px;
}

/* line 201, ../../xampp/htdocs/ResolveSystemsOnLine/scss/_fonts.scss */
.animate-character-formatura,
.animate-character-msg,
.animate-character-contrato {
  font-size: 20px;
}

/* line 207, ../../xampp/htdocs/ResolveSystemsOnLine/scss/_fonts.scss */
.animate-character-formatura {
  text-transform: uppercase;
  background-image: linear-gradient(-225deg, #e703fc 0%, #7a0a85 20%, #ff0707 40%, #5e0786 60%, #e703fc 80%, #dc3545 100%);
}

/* line 220, ../../xampp/htdocs/ResolveSystemsOnLine/scss/_fonts.scss */
.animate-character-formatura-2 {
  background-image: linear-gradient(-225deg, #e703fc 0%, #7a0a85 20%, #ff0707 40%, #5e0786 60%, #e703fc 80%, #dc3545 100%);
  font-size: 15px;
}

/* line 234, ../../xampp/htdocs/ResolveSystemsOnLine/scss/_fonts.scss */
.formatacao1 {
  text-decoration: underline;
}

/* line 238, ../../xampp/htdocs/ResolveSystemsOnLine/scss/_fonts.scss */
.formatacao2 {
  text-decoration: overline;
}

/* line 242, ../../xampp/htdocs/ResolveSystemsOnLine/scss/_fonts.scss */
.formatacao3 {
  text-decoration: line-through;
}

/* line 247, ../../xampp/htdocs/ResolveSystemsOnLine/scss/_fonts.scss */
.font-cinza {
  color: #5c5c5c;
}

/* line 252, ../../xampp/htdocs/ResolveSystemsOnLine/scss/_fonts.scss */
div.font-reduzida {
  font-size: 12px;
}

/* line 256, ../../xampp/htdocs/ResolveSystemsOnLine/scss/_fonts.scss */
.text-size-button {
  font-size: 20px;
  padding: 10px 50px;
}

/* line 261, ../../xampp/htdocs/ResolveSystemsOnLine/scss/_fonts.scss */
.text-size-grande {
  font-size: 30px;
}

/* line 265, ../../xampp/htdocs/ResolveSystemsOnLine/scss/_fonts.scss */
.text-size-20 {
  font-size: 20px;
}

/* line 1, ../../xampp/htdocs/ResolveSystemsOnLine/scss/_footer.scss */
footer {
  width: 100%;
  position: fixed;
  bottom: 0;
  left: 0;
}

/* line 2, ../../xampp/htdocs/ResolveSystemsOnLine/scss/_formatacao.scss */
p.justificado {
  text-align: justify;
}

/* line 6, ../../xampp/htdocs/ResolveSystemsOnLine/scss/_formatacao.scss */
p.cor-paragrafo {
  color: black;
}

/* line 10, ../../xampp/htdocs/ResolveSystemsOnLine/scss/_formatacao.scss */
span.recuo-primeira-linha,
.recuo-primeira-linha {
  text-indent: 25px;
}

/* line 2, ../../xampp/htdocs/ResolveSystemsOnLine/scss/_imagens.scss */
.img1,
.img2,
.img3 {
  position: relative;
  height: 100%;
  min-height: 500px;
  opacity: 0.7;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  background-attachment: fixed;
}

/* line 15, ../../xampp/htdocs/ResolveSystemsOnLine/scss/_imagens.scss */
.img1 {
  background-image: url(../../img/fotos/imagem2.jpg);
}

/* line 19, ../../xampp/htdocs/ResolveSystemsOnLine/scss/_imagens.scss */
.imagem5 {
  z-index: 1;
}

/* line 23, ../../xampp/htdocs/ResolveSystemsOnLine/scss/_imagens.scss */
.img3 {
  background-image: url(../../img/fotos/imagem6.jpg);
}

/* line 27, ../../xampp/htdocs/ResolveSystemsOnLine/scss/_imagens.scss */
div.row > div.col-md-12 > div.col-sm-10 {
  padding-right: 0px;
  padding-left: 0px;
}

/* line 32, ../../xampp/htdocs/ResolveSystemsOnLine/scss/_imagens.scss */
img.width {
  width: 100px;
}

/* line 36, ../../xampp/htdocs/ResolveSystemsOnLine/scss/_imagens.scss */
img.width-maior {
  width: 120px;
}

/* line 3, ../../xampp/htdocs/ResolveSystemsOnLine/scss/_inputs.scss */
.flipswitch {
  position: relative;
  width: 127px;
}

/* line 8, ../../xampp/htdocs/ResolveSystemsOnLine/scss/_inputs.scss */
.flipswitch input[type=checkbox] {
  display: none;
}

/* line 12, ../../xampp/htdocs/ResolveSystemsOnLine/scss/_inputs.scss */
.flipswitch-label {
  display: block;
  overflow: hidden;
  cursor: pointer;
  border: 1px solid #999999;
  border-radius: 19px;
}

/* line 20, ../../xampp/htdocs/ResolveSystemsOnLine/scss/_inputs.scss */
.flipswitch-inner {
  width: 200%;
  margin-left: -100%;
  transition: margin 0.3s ease-in 0s;
}

/* line 26, ../../xampp/htdocs/ResolveSystemsOnLine/scss/_inputs.scss */
.flipswitch-inner:before, .flipswitch-inner:after {
  float: left;
  width: 50%;
  height: 20px;
  padding: 0;
  line-height: 20px;
  font-size: 16px;
  color: white;
  font-family: Trebuchet, Arial, sans-serif;
  font-weight: bold;
  box-sizing: border-box;
}

/* line 39, ../../xampp/htdocs/ResolveSystemsOnLine/scss/_inputs.scss */
.flipswitch-inner:before {
  content: "ATIVO";
  padding-left: 20px;
  background-color: #007bff;
  color: #FFFFFF;
}

/* line 46, ../../xampp/htdocs/ResolveSystemsOnLine/scss/_inputs.scss */
.flipswitch-inner:after {
  content: "INATIVO";
  padding-right: 20px;
  background-color: #EBEBEB;
  color: #888888;
  text-align: right;
}

/* line 54, ../../xampp/htdocs/ResolveSystemsOnLine/scss/_inputs.scss */
.flipswitch-switch {
  width: 20px;
  margin: 0px;
  background: #FFFFFF;
  border: 1px solid #999999;
  border-radius: 19px;
  position: absolute;
  top: 0;
  bottom: 0;
  right: 105px;
  transition: all 0.3s ease-in 0s;
}

/* line 67, ../../xampp/htdocs/ResolveSystemsOnLine/scss/_inputs.scss */
.flipswitch-cb:checked + .flipswitch-label .flipswitch-inner {
  margin-left: 0;
}

/* line 71, ../../xampp/htdocs/ResolveSystemsOnLine/scss/_inputs.scss */
.flipswitch-cb:checked + .flipswitch-label .flipswitch-switch {
  right: 0;
}

/* line 76, ../../xampp/htdocs/ResolveSystemsOnLine/scss/_inputs.scss */
input[type=file] {
  width: 350px;
  max-width: 100%;
  color: #007bff;
  padding: 5px;
  background: #fff;
  border-radius: 20px;
  border: 1px solid #007bff;
}

/* line 86, ../../xampp/htdocs/ResolveSystemsOnLine/scss/_inputs.scss */
input[type=file]::file-selector-button {
  margin-right: 20px;
  border: none;
  background: #007bff;
  padding: 10px 20px;
  border-radius: 20px;
  color: #fff;
  cursor: pointer;
  transition: background .2s ease-in-out;
}

/* line 97, ../../xampp/htdocs/ResolveSystemsOnLine/scss/_inputs.scss */
input[type=file]::file-selector-button:hover {
  background: #fff;
  color: #007bff;
}

/* line 102, ../../xampp/htdocs/ResolveSystemsOnLine/scss/_inputs.scss */
textarea {
  overflow: hidden;
  resize: none;
}

/* line 107, ../../xampp/htdocs/ResolveSystemsOnLine/scss/_inputs.scss */
.larger-checkbox {
  width: 20px;
  height: 20px;
}

@font-face {
  font-family: "Ancient";
  src: url("../../fonts/Ancient-Medium.woff");
}

@font-face {
  font-family: "Bring";
  src: url("../../fonts/BringHeart.woff");
}

@font-face {
  font-family: "Madelina";
  src: url("../../fonts/MadelinaScript.woff");
}

@font-face {
  font-family: "Fasthand";
  src: url("../../fonts/Fasthand-Regular.ttf");
}

/* line 25, ../../xampp/htdocs/ResolveSystemsOnLine/scss/_fonts.scss */
.font-size-12 {
  font-size: 12px;
}

/* line 29, ../../xampp/htdocs/ResolveSystemsOnLine/scss/_fonts.scss */
.font-size-14 {
  font-size: 14px;
}

/* line 33, ../../xampp/htdocs/ResolveSystemsOnLine/scss/_fonts.scss */
.font-size-15 {
  font-size: 15px;
}

/* line 37, ../../xampp/htdocs/ResolveSystemsOnLine/scss/_fonts.scss */
.font-size-16 {
  font-size: 16px;
}

/* line 41, ../../xampp/htdocs/ResolveSystemsOnLine/scss/_fonts.scss */
.font-size-18 {
  font-size: 18px;
}

/* line 45, ../../xampp/htdocs/ResolveSystemsOnLine/scss/_fonts.scss */
.font-size-19 {
  font-size: 19px;
}

/* line 49, ../../xampp/htdocs/ResolveSystemsOnLine/scss/_fonts.scss */
.font-size-20, .texto-index {
  font-size: 20px;
}

/* line 53, ../../xampp/htdocs/ResolveSystemsOnLine/scss/_fonts.scss */
.font-size-22 {
  font-size: 22px;
}

/* line 57, ../../xampp/htdocs/ResolveSystemsOnLine/scss/_fonts.scss */
.font-size-24 {
  font-size: 24px;
}

/* line 61, ../../xampp/htdocs/ResolveSystemsOnLine/scss/_fonts.scss */
.font-size-25, .font-link {
  font-size: 25px;
}

/* line 65, ../../xampp/htdocs/ResolveSystemsOnLine/scss/_fonts.scss */
.font-size-26 {
  font-size: 26px;
}

/* line 68, ../../xampp/htdocs/ResolveSystemsOnLine/scss/_fonts.scss */
.deseja-mensagem,
.font-size-28 {
  font-size: 28px;
}

/* line 73, ../../xampp/htdocs/ResolveSystemsOnLine/scss/_fonts.scss */
.font-size-30 {
  font-size: 30px;
}

/* line 77, ../../xampp/htdocs/ResolveSystemsOnLine/scss/_fonts.scss */
.font-size-32 {
  font-size: 32px;
}

/* line 81, ../../xampp/htdocs/ResolveSystemsOnLine/scss/_fonts.scss */
.font-size-48 {
  font-size: 48px;
}

/* line 85, ../../xampp/htdocs/ResolveSystemsOnLine/scss/_fonts.scss */
.font-titulo-plano {
  font-size: 24px;
}

/* line 89, ../../xampp/htdocs/ResolveSystemsOnLine/scss/_fonts.scss */
.texto-index {
  color: #007bff;
  text-align: left;
}

/* line 95, ../../xampp/htdocs/ResolveSystemsOnLine/scss/_fonts.scss */
.texto {
  font-size: 1.5em;
  font-family: "Times New Roman", Times, serif;
}

/* line 100, ../../xampp/htdocs/ResolveSystemsOnLine/scss/_fonts.scss */
.negrito {
  font-weight: bold;
}

/* line 104, ../../xampp/htdocs/ResolveSystemsOnLine/scss/_fonts.scss */
.italico {
  font-style: italic;
}

/* line 108, ../../xampp/htdocs/ResolveSystemsOnLine/scss/_fonts.scss */
h1.ancient {
  font-size: 3em;
  font-family: "Ancient";
}

/* line 113, ../../xampp/htdocs/ResolveSystemsOnLine/scss/_fonts.scss */
h2.bring {
  font-family: "Bring";
  font-size: 3em;
}

/* line 118, ../../xampp/htdocs/ResolveSystemsOnLine/scss/_fonts.scss */
span.fasthand {
  font-family: "Fasthand";
  font-size: 1.3em;
}

/* line 123, ../../xampp/htdocs/ResolveSystemsOnLine/scss/_fonts.scss */
h3.madelina {
  font-size: 3em;
  font-family: "Madelina";
}

/* line 128, ../../xampp/htdocs/ResolveSystemsOnLine/scss/_fonts.scss */
.animate-character,
.animate-character-mini,
.animate-character-fale-conosco,
.animate-character-formatura,
.animate-character-formatura-2,
.animate-character-msg,
.animate-character-contrato {
  background-size: auto auto;
  background-clip: border-box;
  background-size: 200% auto;
  color: #fff;
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  display: inline-block;
  font-weight: bold;
}

/* line 147, ../../xampp/htdocs/ResolveSystemsOnLine/scss/_fonts.scss */
.animate-character,
.animate-character-formatura,
.animate-character-formatura-2,
.animate-character-contrato {
  animation: textclip 4s linear infinite;
}

/* line 154, ../../xampp/htdocs/ResolveSystemsOnLine/scss/_fonts.scss */
.animate-character-msg {
  animation: textclip 0.5s linear infinite;
}

/* line 158, ../../xampp/htdocs/ResolveSystemsOnLine/scss/_fonts.scss */
.animate-character-mini,
.animate-character-fale-conosco {
  animation: textclip 3s linear infinite;
}

/* line 163, ../../xampp/htdocs/ResolveSystemsOnLine/scss/_fonts.scss */
.animate-character,
.animate-character-mini,
.animate-character-fale-conosco,
.animate-character-msg {
  text-transform: uppercase;
  background-image: linear-gradient(-225deg, #007bff 0%, #28a745 20%, #ffc107 40%, #fd9902 60%, #e703fc 80%, #dc3545 100%);
}

/* line 179, ../../xampp/htdocs/ResolveSystemsOnLine/scss/_fonts.scss */
.animate-character-contrato {
  text-transform: uppercase;
  background-image: linear-gradient(-225deg, #28a745 0%, #ffc107 33%, #007bff 66%);
}

/* line 189, ../../xampp/htdocs/ResolveSystemsOnLine/scss/_fonts.scss */
.animate-character {
  font-size: 50px;
}

/* line 193, ../../xampp/htdocs/ResolveSystemsOnLine/scss/_fonts.scss */
.animate-character-mini {
  font-size: 35px;
}

/* line 197, ../../xampp/htdocs/ResolveSystemsOnLine/scss/_fonts.scss */
.animate-character-fale-conosco {
  font-size: 50px;
}

/* line 201, ../../xampp/htdocs/ResolveSystemsOnLine/scss/_fonts.scss */
.animate-character-formatura,
.animate-character-msg,
.animate-character-contrato {
  font-size: 20px;
}

/* line 207, ../../xampp/htdocs/ResolveSystemsOnLine/scss/_fonts.scss */
.animate-character-formatura {
  text-transform: uppercase;
  background-image: linear-gradient(-225deg, #e703fc 0%, #7a0a85 20%, #ff0707 40%, #5e0786 60%, #e703fc 80%, #dc3545 100%);
}

/* line 220, ../../xampp/htdocs/ResolveSystemsOnLine/scss/_fonts.scss */
.animate-character-formatura-2 {
  background-image: linear-gradient(-225deg, #e703fc 0%, #7a0a85 20%, #ff0707 40%, #5e0786 60%, #e703fc 80%, #dc3545 100%);
  font-size: 15px;
}

/* line 234, ../../xampp/htdocs/ResolveSystemsOnLine/scss/_fonts.scss */
.formatacao1 {
  text-decoration: underline;
}

/* line 238, ../../xampp/htdocs/ResolveSystemsOnLine/scss/_fonts.scss */
.formatacao2 {
  text-decoration: overline;
}

/* line 242, ../../xampp/htdocs/ResolveSystemsOnLine/scss/_fonts.scss */
.formatacao3 {
  text-decoration: line-through;
}

/* line 247, ../../xampp/htdocs/ResolveSystemsOnLine/scss/_fonts.scss */
.font-cinza {
  color: #5c5c5c;
}

/* line 252, ../../xampp/htdocs/ResolveSystemsOnLine/scss/_fonts.scss */
div.font-reduzida {
  font-size: 12px;
}

/* line 256, ../../xampp/htdocs/ResolveSystemsOnLine/scss/_fonts.scss */
.text-size-button {
  font-size: 20px;
  padding: 10px 50px;
}

/* line 261, ../../xampp/htdocs/ResolveSystemsOnLine/scss/_fonts.scss */
.text-size-grande {
  font-size: 30px;
}

/* line 265, ../../xampp/htdocs/ResolveSystemsOnLine/scss/_fonts.scss */
.text-size-20 {
  font-size: 20px;
}

/* line 3, ../../xampp/htdocs/ResolveSystemsOnLine/scss/_links.scss */
a.link-index,
a.link-no-line,
.link-visualiza-mensagem,
.link-visualiza-mensagem:hover,
.link-visualiza-mensagem:focus {
  text-decoration: none;
}

/* line 2, ../../xampp/htdocs/ResolveSystemsOnLine/scss/_mapa.scss */
div#mapa {
  float: left;
  width: 310px;
  margin-left: 37px;
}

/* line 2, ../../xampp/htdocs/ResolveSystemsOnLine/scss/_navbar.scss */
.menu-fixed {
  position: fixed;
  z-index: 1;
}

/* line 7, ../../xampp/htdocs/ResolveSystemsOnLine/scss/_navbar.scss */
ul.navbar-nav > li.nav-item > a.nav-link {
  background-color: #f8f9fa;
  color: #007bff;
}

/* line 12, ../../xampp/htdocs/ResolveSystemsOnLine/scss/_navbar.scss */
.navbar-toggler:hover,
.navbar-toggler:focus,
ul.navbar-nav > li.nav-item > a.nav-link:hover,
ul.navbar-nav > li.nav-item > a.nav-link:focus,
ul.navbar-nav > li.nav-item > div.dropdown-menu > a.dropdown-item:hover,
ul.navbar-nav > li.nav-item > div.dropdown-menu > a.dropdown-item:focus {
  background-color: #007bff;
  border-radius: 10px;
  color: #f8f9fa;
}

/* line 3, ../../xampp/htdocs/ResolveSystemsOnLine/scss/_parallax.scss */
html,
body {
  margin: 0;
  font: 16px "Lato", sans-serif;
  color: #777;
  /* IMPORTANTE PARA FUNCIONAR O PARALLAX */
  height: 100%;
}

/* line 12, ../../xampp/htdocs/ResolveSystemsOnLine/scss/_parallax.scss */
.conteudo {
  color: #777;
  background-color: white;
  text-align: center;
  padding: 50px 80px;
}

/* line 19, ../../xampp/htdocs/ResolveSystemsOnLine/scss/_parallax.scss */
h3 {
  text-transform: uppercase;
  color: #111;
  text-align: center;
}

/* line 25, ../../xampp/htdocs/ResolveSystemsOnLine/scss/_parallax.scss */
.imagem1,
.imagem2,
.imagem3,
.imagem4,
.imagem5,
.imagem6 {
  position: relative;
  height: 100%;
  opacity: 0.7;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  background-attachment: fixed;
}

/* line 40, ../../xampp/htdocs/ResolveSystemsOnLine/scss/_parallax.scss */
.imagem1 {
  background-image: url(../../img/fotos/imagem1.jpg);
}

/* line 44, ../../xampp/htdocs/ResolveSystemsOnLine/scss/_parallax.scss */
.imagem2 {
  background-image: url(../../img/fotos/imagem2.jpg);
}

/* line 48, ../../xampp/htdocs/ResolveSystemsOnLine/scss/_parallax.scss */
.imagem3 {
  background-image: url(../../img/fotos/imagem3.jpg);
}

/* line 52, ../../xampp/htdocs/ResolveSystemsOnLine/scss/_parallax.scss */
.imagem4 {
  background-image: url(../../img/fotos/imagem4.jpg);
}

/* line 56, ../../xampp/htdocs/ResolveSystemsOnLine/scss/_parallax.scss */
.imagem5 {
  background-image: url(../../img/fotos/imagem5.jpg);
}

/* line 60, ../../xampp/htdocs/ResolveSystemsOnLine/scss/_parallax.scss */
.imagem6 {
  background-image: url(../../img/fotos/imagem6.jpg);
}

/* line 64, ../../xampp/htdocs/ResolveSystemsOnLine/scss/_parallax.scss */
.conteudo-titulo {
  position: absolute;
  left: 0;
  top: 45%;
  width: 100%;
  text-align: center;
}

/* line 72, ../../xampp/htdocs/ResolveSystemsOnLine/scss/_parallax.scss */
.conteudo-titulo span.titulo {
  color: #fff;
  background-color: #111;
  padding: 18px;
  font-size: 20px;
  letter-spacing: 5px;
  text-transform: uppercase;
}

/* line 80, ../../xampp/htdocs/ResolveSystemsOnLine/scss/_parallax.scss */
.canto {
  border-radius: 20px;
}

@media (max-width: 575.98px) {
  /* line 5, ../../xampp/htdocs/ResolveSystemsOnLine/scss/_responsividade.scss */
  p.recuo-primeira-linha {
    text-indent: 0;
  }
  /* line 9, ../../xampp/htdocs/ResolveSystemsOnLine/scss/_responsividade.scss */
  #video {
    width: 345px;
    height: 213px;
  }
  /* line 14, ../../xampp/htdocs/ResolveSystemsOnLine/scss/_responsividade.scss */
  body {
    margin-bottom: 200px;
  }
  /* line 18, ../../xampp/htdocs/ResolveSystemsOnLine/scss/_responsividade.scss */
  .animate-character {
    font-size: 22px;
  }
  /* line 22, ../../xampp/htdocs/ResolveSystemsOnLine/scss/_responsividade.scss */
  .espaco-img-index-superior {
    height: 30px;
  }
  /* line 26, ../../xampp/htdocs/ResolveSystemsOnLine/scss/_responsividade.scss */
  .espaco-img-index {
    height: 30px;
  }
  /* line 30, ../../xampp/htdocs/ResolveSystemsOnLine/scss/_responsividade.scss */
  .espaco-img-index-2 {
    height: 50px;
  }
  /* line 34, ../../xampp/htdocs/ResolveSystemsOnLine/scss/_responsividade.scss */
  img.width {
    width: 80px;
  }
  /* line 38, ../../xampp/htdocs/ResolveSystemsOnLine/scss/_responsividade.scss */
  img.width-maior {
    width: 100px;
  }
  /* line 42, ../../xampp/htdocs/ResolveSystemsOnLine/scss/_responsividade.scss */
  h2.planos {
    font-size: 32px;
  }
  /* line 46, ../../xampp/htdocs/ResolveSystemsOnLine/scss/_responsividade.scss */
  section#planos >
div#container-ofertas >
div#plano >
div.plano >
h3#titulo-plano {
    font-size: 28px;
  }
  /* line 54, ../../xampp/htdocs/ResolveSystemsOnLine/scss/_responsividade.scss */
  .espaco-plano-1,
  .espaco-plano-2,
  .espaco-plano-rapido {
    height: 10px;
  }
  /* line 60, ../../xampp/htdocs/ResolveSystemsOnLine/scss/_responsividade.scss */
  .animate-character-mini {
    font-size: 30px;
  }
  /* line 64, ../../xampp/htdocs/ResolveSystemsOnLine/scss/_responsividade.scss */
  .index-consulte {
    font-size: 16px;
  }
  /* line 68, ../../xampp/htdocs/ResolveSystemsOnLine/scss/_responsividade.scss */
  section#planos >
div#container-ofertas >
div#plano >
div.plano >
a.link-index >
h3 {
    font-size: 20px;
  }
  /* line 77, ../../xampp/htdocs/ResolveSystemsOnLine/scss/_responsividade.scss */
  .espaco-consulta-dominio {
    height: 10px;
  }
  /* line 81, ../../xampp/htdocs/ResolveSystemsOnLine/scss/_responsividade.scss */
  .espaco-consulta-dominio-interno {
    height: 40px;
  }
  /* line 85, ../../xampp/htdocs/ResolveSystemsOnLine/scss/_responsividade.scss */
  .animate-character-fale-conosco {
    font-size: 40px;
  }
  /* line 89, ../../xampp/htdocs/ResolveSystemsOnLine/scss/_responsividade.scss */
  .deseja-mensagem {
    font-size: 20px;
  }
  /* line 93, ../../xampp/htdocs/ResolveSystemsOnLine/scss/_responsividade.scss */
  .label-mensagem {
    margin-top: 20px;
    margin-bottom: 0px;
  }
  /* line 98, ../../xampp/htdocs/ResolveSystemsOnLine/scss/_responsividade.scss */
  .input-mensagem {
    margin-top: 0px;
    margin-bottom: 5px;
  }
  /* line 103, ../../xampp/htdocs/ResolveSystemsOnLine/scss/_responsividade.scss */
  .voltar-topo {
    padding-bottom: 55px;
  }
  /* line 108, ../../xampp/htdocs/ResolveSystemsOnLine/scss/_responsividade.scss */
  .conteudo {
    padding-bottom: 100px;
  }
  /* line 112, ../../xampp/htdocs/ResolveSystemsOnLine/scss/_responsividade.scss */
  .carousel-item {
    height: 650px;
  }
  /* line 116, ../../xampp/htdocs/ResolveSystemsOnLine/scss/_responsividade.scss */
  .desaparece-sm {
    display: none;
  }
  /* line 120, ../../xampp/htdocs/ResolveSystemsOnLine/scss/_responsividade.scss */
  .lg {
    display: none;
  }
}

/*Extra small devices (portrait phones, menor que 576px)*/
@media (min-width: 576px) and (max-width: 767.98px) {
  /* line 128, ../../xampp/htdocs/ResolveSystemsOnLine/scss/_responsividade.scss */
  #video {
    width: 100%;
    height: 100%;
  }
  /* line 133, ../../xampp/htdocs/ResolveSystemsOnLine/scss/_responsividade.scss */
  .animate-character {
    font-size: 22px;
  }
  /* line 137, ../../xampp/htdocs/ResolveSystemsOnLine/scss/_responsividade.scss */
  .espaco-img-index-superior {
    height: 30px;
  }
  /* line 141, ../../xampp/htdocs/ResolveSystemsOnLine/scss/_responsividade.scss */
  .espaco-img-index {
    height: 30px;
  }
  /* line 145, ../../xampp/htdocs/ResolveSystemsOnLine/scss/_responsividade.scss */
  .espaco-img-index-2 {
    height: 50px;
  }
  /* line 149, ../../xampp/htdocs/ResolveSystemsOnLine/scss/_responsividade.scss */
  img.width {
    width: 80px;
  }
  /* line 153, ../../xampp/htdocs/ResolveSystemsOnLine/scss/_responsividade.scss */
  img.width-maior {
    width: 100px;
  }
  /* line 157, ../../xampp/htdocs/ResolveSystemsOnLine/scss/_responsividade.scss */
  h2.planos {
    font-size: 32px;
  }
  /* line 161, ../../xampp/htdocs/ResolveSystemsOnLine/scss/_responsividade.scss */
  section#planos >
div#container-ofertas >
div#plano >
div.plano >
h3#titulo-plano {
    font-size: 28px;
  }
  /* line 169, ../../xampp/htdocs/ResolveSystemsOnLine/scss/_responsividade.scss */
  .espaco-plano-1,
  .espaco-plano-2,
  .espaco-plano-rapido {
    height: 10px;
  }
  /* line 175, ../../xampp/htdocs/ResolveSystemsOnLine/scss/_responsividade.scss */
  .animate-character-mini {
    font-size: 20px;
  }
  /* line 179, ../../xampp/htdocs/ResolveSystemsOnLine/scss/_responsividade.scss */
  .index-consulte {
    font-size: 16px;
  }
  /* line 183, ../../xampp/htdocs/ResolveSystemsOnLine/scss/_responsividade.scss */
  section#planos >
div#container-ofertas >
div#plano >
div.plano >
a.link-index >
h3 {
    font-size: 20px;
  }
  /* line 192, ../../xampp/htdocs/ResolveSystemsOnLine/scss/_responsividade.scss */
  .espaco-consulta-dominio {
    height: 10px;
  }
  /* line 196, ../../xampp/htdocs/ResolveSystemsOnLine/scss/_responsividade.scss */
  .espaco-consulta-dominio-interno {
    height: 40px;
  }
  /* line 200, ../../xampp/htdocs/ResolveSystemsOnLine/scss/_responsividade.scss */
  .animate-character-fale-conosco {
    font-size: 40px;
  }
  /* line 204, ../../xampp/htdocs/ResolveSystemsOnLine/scss/_responsividade.scss */
  .deseja-mensagem {
    font-size: 20px;
  }
  /* line 208, ../../xampp/htdocs/ResolveSystemsOnLine/scss/_responsividade.scss */
  .label-mensagem {
    margin-top: 20px;
    margin-bottom: 0px;
  }
  /* line 213, ../../xampp/htdocs/ResolveSystemsOnLine/scss/_responsividade.scss */
  .input-mensagem {
    margin-top: 0px;
    margin-bottom: 5px;
  }
  /* line 218, ../../xampp/htdocs/ResolveSystemsOnLine/scss/_responsividade.scss */
  .voltar-topo {
    padding-bottom: 45px;
  }
  /* line 223, ../../xampp/htdocs/ResolveSystemsOnLine/scss/_responsividade.scss */
  .conteudo {
    padding-bottom: 75px;
  }
  /* line 227, ../../xampp/htdocs/ResolveSystemsOnLine/scss/_responsividade.scss */
  .desaparece-md {
    display: none;
  }
  /* line 231, ../../xampp/htdocs/ResolveSystemsOnLine/scss/_responsividade.scss */
  body {
    margin-bottom: 200px;
  }
  /* line 235, ../../xampp/htdocs/ResolveSystemsOnLine/scss/_responsividade.scss */
  .lg {
    display: none;
  }
}

/*Small devices (landscape phones, 576px e maiores)*/
@media (min-width: 768px) and (max-width: 990.98px) {
  /* line 243, ../../xampp/htdocs/ResolveSystemsOnLine/scss/_responsividade.scss */
  p.recuo-primeira-linha {
    text-indent: 20px;
  }
  /* line 248, ../../xampp/htdocs/ResolveSystemsOnLine/scss/_responsividade.scss */
  .conteudo {
    padding-bottom: 75px;
  }
  /* line 252, ../../xampp/htdocs/ResolveSystemsOnLine/scss/_responsividade.scss */
  .espaco-pre-footer {
    height: 150px;
  }
  /* line 256, ../../xampp/htdocs/ResolveSystemsOnLine/scss/_responsividade.scss */
  .lg {
    display: none;
  }
  /* line 260, ../../xampp/htdocs/ResolveSystemsOnLine/scss/_responsividade.scss */
  .animate-character {
    font-size: 30px;
  }
  /* line 264, ../../xampp/htdocs/ResolveSystemsOnLine/scss/_responsividade.scss */
  .espaco-img-index-superior {
    height: 30px;
  }
  /* line 268, ../../xampp/htdocs/ResolveSystemsOnLine/scss/_responsividade.scss */
  .espaco-img-index {
    height: 30px;
  }
  /* line 272, ../../xampp/htdocs/ResolveSystemsOnLine/scss/_responsividade.scss */
  .espaco-img-index-2 {
    height: 50px;
  }
  /* line 276, ../../xampp/htdocs/ResolveSystemsOnLine/scss/_responsividade.scss */
  img.width {
    width: 80px;
  }
  /* line 280, ../../xampp/htdocs/ResolveSystemsOnLine/scss/_responsividade.scss */
  img.width-maior {
    width: 100px;
  }
  /* line 284, ../../xampp/htdocs/ResolveSystemsOnLine/scss/_responsividade.scss */
  section#planos >
div#container-ofertas >
div#plano >
div.plano >
h3#titulo-plano {
    font-size: 18px;
  }
  /* line 292, ../../xampp/htdocs/ResolveSystemsOnLine/scss/_responsividade.scss */
  .espaco-plano-1 {
    height: 181px;
  }
  /* line 296, ../../xampp/htdocs/ResolveSystemsOnLine/scss/_responsividade.scss */
  .espaco-plano-2 {
    height: 162px;
  }
  /* line 300, ../../xampp/htdocs/ResolveSystemsOnLine/scss/_responsividade.scss */
  .espaco-plano-rapido {
    height: 105px;
  }
  /* line 304, ../../xampp/htdocs/ResolveSystemsOnLine/scss/_responsividade.scss */
  div.plano >
div >
a {
    font-size: 20px;
    font-weight: bold;
  }
  /* line 311, ../../xampp/htdocs/ResolveSystemsOnLine/scss/_responsividade.scss */
  .animate-character-mini {
    font-size: 20px;
  }
  /* line 315, ../../xampp/htdocs/ResolveSystemsOnLine/scss/_responsividade.scss */
  .index-consulte {
    font-size: 16px;
  }
  /* line 319, ../../xampp/htdocs/ResolveSystemsOnLine/scss/_responsividade.scss */
  section#planos >
div#container-ofertas >
div#plano >
div.plano >
a.link-index >
h3 {
    font-size: 20px;
  }
  /* line 328, ../../xampp/htdocs/ResolveSystemsOnLine/scss/_responsividade.scss */
  .espaco-consulta-dominio {
    height: 128px;
  }
  /* line 332, ../../xampp/htdocs/ResolveSystemsOnLine/scss/_responsividade.scss */
  .animate-character-fale-conosco {
    font-size: 40px;
  }
  /* line 336, ../../xampp/htdocs/ResolveSystemsOnLine/scss/_responsividade.scss */
  .deseja-mensagem {
    font-size: 20px;
  }
  /* line 340, ../../xampp/htdocs/ResolveSystemsOnLine/scss/_responsividade.scss */
  .voltar-topo {
    margin-bottom: 80px;
  }
}

/*Medium devices (tablets, 768px e maiores)*/
@media (min-width: 991px) and (max-width: 1199.98px) {
  /* line 348, ../../xampp/htdocs/ResolveSystemsOnLine/scss/_responsividade.scss */
  p.recuo-primeira-linha {
    text-indent: 40px;
  }
  /* line 352, ../../xampp/htdocs/ResolveSystemsOnLine/scss/_responsividade.scss */
  #video {
    width: 576px;
    height: 444px;
  }
  /* line 357, ../../xampp/htdocs/ResolveSystemsOnLine/scss/_responsividade.scss */
  .voltar-topo {
    padding-bottom: 20px;
  }
  /* line 361, ../../xampp/htdocs/ResolveSystemsOnLine/scss/_responsividade.scss */
  .espaco-pre-footer {
    height: 50px;
  }
  /* line 365, ../../xampp/htdocs/ResolveSystemsOnLine/scss/_responsividade.scss */
  .sm {
    display: none;
  }
  /* line 369, ../../xampp/htdocs/ResolveSystemsOnLine/scss/_responsividade.scss */
  .animate-character {
    font-size: 40px;
  }
  /* line 373, ../../xampp/htdocs/ResolveSystemsOnLine/scss/_responsividade.scss */
  .espaco-img-index-superior {
    height: 100px;
  }
  /* line 377, ../../xampp/htdocs/ResolveSystemsOnLine/scss/_responsividade.scss */
  .espaco-plano-1 {
    height: 162px;
  }
  /* line 381, ../../xampp/htdocs/ResolveSystemsOnLine/scss/_responsividade.scss */
  .espaco-plano-2 {
    height: 144px;
  }
  /* line 385, ../../xampp/htdocs/ResolveSystemsOnLine/scss/_responsividade.scss */
  .espaco-plano-rapido {
    height: 59px;
  }
  /* line 389, ../../xampp/htdocs/ResolveSystemsOnLine/scss/_responsividade.scss */
  .animate-character-mini {
    font-size: 30px;
  }
  /* line 393, ../../xampp/htdocs/ResolveSystemsOnLine/scss/_responsividade.scss */
  .espaco-consulta-dominio {
    height: 100px;
  }
  /* line 397, ../../xampp/htdocs/ResolveSystemsOnLine/scss/_responsividade.scss */
  .deseja-mensagem {
    font-size: 24px;
  }
  /* line 401, ../../xampp/htdocs/ResolveSystemsOnLine/scss/_responsividade.scss */
  .voltar-topo {
    margin-bottom: 30px;
  }
}

/*Large devices (desktops, 992px e maiores)*/
@media (min-width: 1200px) {
  /* line 409, ../../xampp/htdocs/ResolveSystemsOnLine/scss/_responsividade.scss */
  p.recuo-primeira-linha {
    text-indent: 50px;
  }
  /* line 413, ../../xampp/htdocs/ResolveSystemsOnLine/scss/_responsividade.scss */
  .voltar-topo {
    padding-bottom: 30px;
  }
  /* line 417, ../../xampp/htdocs/ResolveSystemsOnLine/scss/_responsividade.scss */
  .espaco-pre-footer {
    height: 50px;
  }
  /* line 421, ../../xampp/htdocs/ResolveSystemsOnLine/scss/_responsividade.scss */
  body {
    margin-bottom: 100px;
  }
  /* line 425, ../../xampp/htdocs/ResolveSystemsOnLine/scss/_responsividade.scss */
  .sm {
    display: none;
  }
}

/* line 5, ../../xampp/htdocs/ResolveSystemsOnLine/scss/_separadores.scss */
hr.divisor {
  border: 1px dotted #007bff;
}

/* line 2, ../../xampp/htdocs/ResolveSystemsOnLine/scss/_sombras.scss */
.plano {
  box-shadow: 8px 8px 10px -3px #007bffb3;
}

/* line 1, ../../xampp/htdocs/ResolveSystemsOnLine/scss/_videos.scss */
.video-menor {
  max-width: 30%;
}

/* line 25, ../../xampp/htdocs/ResolveSystemsOnLine/scss/style.scss */
.carousel-caption {
  width: 60%;
}

@keyframes textclip {
  to {
    background-position: 200% center;
  }
}

/*# sourceMappingURL=style.css.map */