@media (max-width: 575.98px) {
  /* line 3, ../../xampp/htdocs/ResolveSystemsOnLine/scss/style.scss */
  p.recuo-primeira-linha {
    text-indent: 0;
  }
  /* line 7, ../../xampp/htdocs/ResolveSystemsOnLine/scss/style.scss */
  .voltar-topo {
    padding-bottom: 50px;
  }
  /* line 11, ../../xampp/htdocs/ResolveSystemsOnLine/scss/style.scss */
  #video {
    width: 345px;
    height: 213px;
  }
  /* line 16, ../../xampp/htdocs/ResolveSystemsOnLine/scss/style.scss */
  body {
    margin-bottom: 200px;
  }
  /* line 21, ../../xampp/htdocs/ResolveSystemsOnLine/scss/style.scss */
  .conteudo {
    padding-bottom: 100px;
  }
  /* line 25, ../../xampp/htdocs/ResolveSystemsOnLine/scss/style.scss */
  .carousel-item {
    height: 650px;
  }
  /* line 29, ../../xampp/htdocs/ResolveSystemsOnLine/scss/style.scss */
  .espaco-pre-footer {
    height: 150px;
  }
  /* line 33, ../../xampp/htdocs/ResolveSystemsOnLine/scss/style.scss */
  .desaparece-sm {
    display: none;
  }
}

/*Extra small devices (portrait phones, menor que 576px)*/
@media (min-width: 576px) and (max-width: 767.98px) {
  /* line 41, ../../xampp/htdocs/ResolveSystemsOnLine/scss/style.scss */
  #video {
    width: 460px;
    height: 355px;
  }
  /* line 46, ../../xampp/htdocs/ResolveSystemsOnLine/scss/style.scss */
  .voltar-topo {
    padding-bottom: 35px;
  }
  /* line 51, ../../xampp/htdocs/ResolveSystemsOnLine/scss/style.scss */
  .conteudo {
    padding-bottom: 75px;
  }
  /* line 55, ../../xampp/htdocs/ResolveSystemsOnLine/scss/style.scss */
  .espaco-pre-footer {
    height: 150px;
  }
  /* line 59, ../../xampp/htdocs/ResolveSystemsOnLine/scss/style.scss */
  .desaparece-md {
    display: none;
  }
  /* line 63, ../../xampp/htdocs/ResolveSystemsOnLine/scss/style.scss */
  body {
    margin-bottom: 200px;
  }
}

/*Small devices (landscape phones, 576px e maiores)*/
@media (min-width: 768px) and (max-width: 990.98px) {
  /* line 71, ../../xampp/htdocs/ResolveSystemsOnLine/scss/style.scss */
  p.recuo-primeira-linha {
    text-indent: 20px;
  }
  /* line 75, ../../xampp/htdocs/ResolveSystemsOnLine/scss/style.scss */
  .voltar-topo {
    padding-bottom: 50px;
  }
  /* line 80, ../../xampp/htdocs/ResolveSystemsOnLine/scss/style.scss */
  .conteudo {
    padding-bottom: 75px;
  }
  /* line 84, ../../xampp/htdocs/ResolveSystemsOnLine/scss/style.scss */
  .espaco-pre-footer {
    height: 150px;
  }
}

/*Medium devices (tablets, 768px e maiores)*/
@media (min-width: 991px) and (max-width: 1199.98px) {
  /* line 92, ../../xampp/htdocs/ResolveSystemsOnLine/scss/style.scss */
  p.recuo-primeira-linha {
    text-indent: 40px;
  }
  /* line 96, ../../xampp/htdocs/ResolveSystemsOnLine/scss/style.scss */
  #video {
    width: 576px;
    height: 444px;
  }
  /* line 101, ../../xampp/htdocs/ResolveSystemsOnLine/scss/style.scss */
  .voltar-topo {
    padding-bottom: 20px;
  }
  /* line 105, ../../xampp/htdocs/ResolveSystemsOnLine/scss/style.scss */
  .espaco-pre-footer {
    height: 50px;
  }
}

/*Large devices (desktops, 992px e maiores)*/
@media (min-width: 1200px) {
  /* line 113, ../../xampp/htdocs/ResolveSystemsOnLine/scss/style.scss */
  p.recuo-primeira-linha {
    text-indent: 50px;
  }
  /* line 117, ../../xampp/htdocs/ResolveSystemsOnLine/scss/style.scss */
  .voltar-topo {
    padding-bottom: 30px;
  }
  /* line 121, ../../xampp/htdocs/ResolveSystemsOnLine/scss/style.scss */
  .espaco-pre-footer {
    height: 50px;
  }
  /* line 125, ../../xampp/htdocs/ResolveSystemsOnLine/scss/style.scss */
  body {
    margin-bottom: 100px;
  }
}

/* line 130, ../../xampp/htdocs/ResolveSystemsOnLine/scss/style.scss */
.pre-footer {
  height: 50px;
}

/* line 134, ../../xampp/htdocs/ResolveSystemsOnLine/scss/style.scss */
.clock {
  background-color: #f8f9fa;
}

/* line 138, ../../xampp/htdocs/ResolveSystemsOnLine/scss/style.scss */
.clock:hover {
  text-decoration: none;
  font-size: 20px;
  background-color: #f8f9fa;
  color: #007bff;
  border: 1px solid #007bff;
  border-radius: 20px;
}

/* line 147, ../../xampp/htdocs/ResolveSystemsOnLine/scss/style.scss */
ul.navbar-nav > li.nav-item > a.nav-link {
  background-color: #f8f9fa;
  color: #007bff;
}

/* line 152, ../../xampp/htdocs/ResolveSystemsOnLine/scss/style.scss */
.navbar-toggler:hover,
.navbar-toggler:focus,
ul.navbar-nav > li.nav-item > a.nav-link:hover,
ul.navbar-nav > li.nav-item > a.nav-link:focus,
ul.navbar-nav > li.nav-item > div.dropdown-menu > a.dropdown-item:hover,
ul.navbar-nav > li.nav-item > div.dropdown-menu > a.dropdown-item:focus {
  background-color: #007bff;
  border-radius: 10px;
  color: #f8f9fa;
}

/* line 163, ../../xampp/htdocs/ResolveSystemsOnLine/scss/style.scss */
.negrito {
  font-weight: bold;
}

/* line 167, ../../xampp/htdocs/ResolveSystemsOnLine/scss/style.scss */
p.justificado {
  text-align: justify;
}

/* line 171, ../../xampp/htdocs/ResolveSystemsOnLine/scss/style.scss */
hr.divisor {
  border: 1px dotted #007bff;
}

/* line 175, ../../xampp/htdocs/ResolveSystemsOnLine/scss/style.scss */
.display-in {
  display: inline;
}

/* line 179, ../../xampp/htdocs/ResolveSystemsOnLine/scss/style.scss */
.display-bl {
  display: block;
}

/* line 183, ../../xampp/htdocs/ResolveSystemsOnLine/scss/style.scss */
.caixa div {
  background: #ffffffb0;
}

/* line 187, ../../xampp/htdocs/ResolveSystemsOnLine/scss/style.scss */
.carousel-caption {
  width: 60%;
}

@font-face {
  font-family: "Ancient";
  src: url("../../fonts/Ancient-Medium.woff");
}

@font-face {
  font-family: "Bring";
  src: url("../../fonts/BringHeart.woff");
}

@font-face {
  font-family: "Madelina";
  src: url("../../fonts/MadelinaScript.woff");
}

@font-face {
  font-family: "Fasthand";
  src: url("../../fonts/Fasthand-Regular.ttf");
}

/* line 212, ../../xampp/htdocs/ResolveSystemsOnLine/scss/style.scss */
h1.ancient {
  font-size: 3em;
  font-family: "Ancient";
}

/* line 217, ../../xampp/htdocs/ResolveSystemsOnLine/scss/style.scss */
h2.bring {
  font-family: "Bring";
  font-size: 3em;
}

/* line 222, ../../xampp/htdocs/ResolveSystemsOnLine/scss/style.scss */
span.fasthand {
  font-family: "Fasthand";
  font-size: 1.3em;
}

/* line 227, ../../xampp/htdocs/ResolveSystemsOnLine/scss/style.scss */
h3.madelina {
  font-size: 3em;
  font-family: "Madelina";
}

/* line 232, ../../xampp/htdocs/ResolveSystemsOnLine/scss/style.scss */
.animate-character,
.animate-character-formatura,
.animate-character-formatura-2,
.animate-character-msg,
.animate-character-contrato {
  background-size: auto auto;
  background-clip: border-box;
  background-size: 200% auto;
  color: #fff;
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  display: inline-block;
  font-weight: bold;
}

/* line 249, ../../xampp/htdocs/ResolveSystemsOnLine/scss/style.scss */
.animate-character,
.animate-character-formatura,
.animate-character-formatura-2,
.animate-character-contrato {
  animation: textclip 3s linear infinite;
}

/* line 256, ../../xampp/htdocs/ResolveSystemsOnLine/scss/style.scss */
.animate-character-msg {
  animation: textclip 0.5s linear infinite;
}

/* line 260, ../../xampp/htdocs/ResolveSystemsOnLine/scss/style.scss */
.animate-character,
.animate-character-msg {
  text-transform: uppercase;
  background-image: linear-gradient(-225deg, #007bff 0%, #28a745 20%, #ffc107 40%, #fd9902 60%, #e703fc 80%, #dc3545 100%);
}

/* line 274, ../../xampp/htdocs/ResolveSystemsOnLine/scss/style.scss */
.animate-character-contrato {
  text-transform: uppercase;
  background-image: linear-gradient(-225deg, #28a745 0%, #ffc107 33%, #007bff 66%);
}

/* line 284, ../../xampp/htdocs/ResolveSystemsOnLine/scss/style.scss */
.animate-character {
  font-size: 50px;
}

/* line 288, ../../xampp/htdocs/ResolveSystemsOnLine/scss/style.scss */
.animate-character-formatura,
.animate-character-msg,
.animate-character-contrato {
  font-size: 20px;
}

/* line 294, ../../xampp/htdocs/ResolveSystemsOnLine/scss/style.scss */
.animate-character-formatura {
  text-transform: uppercase;
  background-image: linear-gradient(-225deg, #e703fc 0%, #7a0a85 20%, #ff0707 40%, #5e0786 60%, #e703fc 80%, #dc3545 100%);
}

/* line 307, ../../xampp/htdocs/ResolveSystemsOnLine/scss/style.scss */
.animate-character-formatura-2 {
  background-image: linear-gradient(-225deg, #e703fc 0%, #7a0a85 20%, #ff0707 40%, #5e0786 60%, #e703fc 80%, #dc3545 100%);
  font-size: 15px;
}

/* line 321, ../../xampp/htdocs/ResolveSystemsOnLine/scss/style.scss */
*, *:before, *:after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

/* line 329, ../../xampp/htdocs/ResolveSystemsOnLine/scss/style.scss */
.buttons {
  margin-top: 20px;
  text-align: center;
  border-radius: 20px;
  height: 60px;
}

/* line 340, ../../xampp/htdocs/ResolveSystemsOnLine/scss/style.scss */
a.blob-btn {
  text-decoration: none;
}

/* line 344, ../../xampp/htdocs/ResolveSystemsOnLine/scss/style.scss */
.blob-btn {
  z-index: 1;
  position: relative;
  padding: 10px 16px;
  margin-bottom: 10px;
  text-align: center;
  text-transform: uppercase;
  color: #007bff;
  font-size: 16px;
  font-weight: bold;
  background-color: transparent;
  outline: none;
  border: none;
  transition: color 0.5s;
  cursor: pointer;
  border-radius: 20px;
}

/* line 361, ../../xampp/htdocs/ResolveSystemsOnLine/scss/style.scss */
.blob-btn:before {
  content: "";
  z-index: 1;
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  border: 2px solid #007bff;
  border-radius: 20px;
}

/* line 372, ../../xampp/htdocs/ResolveSystemsOnLine/scss/style.scss */
.blob-btn:after {
  content: "";
  z-index: -2;
  position: absolute;
  left: 3px;
  top: 3px;
  width: 100%;
  height: 100%;
  transition: all 0.3s 0.2s;
  border-radius: 30px;
}

/* line 383, ../../xampp/htdocs/ResolveSystemsOnLine/scss/style.scss */
.blob-btn:hover {
  color: #FFFFFF;
  border-radius: 30px;
}

/* line 386, ../../xampp/htdocs/ResolveSystemsOnLine/scss/style.scss */
.blob-btn:hover:after {
  transition: all 0.3s;
  left: 0;
  top: 0;
  border-radius: 30px;
}

/* line 393, ../../xampp/htdocs/ResolveSystemsOnLine/scss/style.scss */
.blob-btn__inner {
  z-index: -1;
  overflow: hidden;
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  border-radius: 30px;
  background: #ffffff;
}

/* line 405, ../../xampp/htdocs/ResolveSystemsOnLine/scss/style.scss */
.blob-btn__blobs {
  position: relative;
  display: block;
  height: 100%;
  filter: url("#goo");
}

/* line 411, ../../xampp/htdocs/ResolveSystemsOnLine/scss/style.scss */
.blob-btn__blob {
  position: absolute;
  top: 2px;
  width: 25%;
  height: 100%;
  background: #007bff;
  border-radius: 100%;
  transform: translate3d(0, 150%, 0) scale(1.7);
  transition: transform 0.45s;
}

@supports (filter: url("#goo")) {
  /* line 411, ../../xampp/htdocs/ResolveSystemsOnLine/scss/style.scss */
  .blob-btn__blob {
    transform: translate3d(0, 150%, 0) scale(1.4);
  }
}

/* line 424, ../../xampp/htdocs/ResolveSystemsOnLine/scss/style.scss */
.blob-btn__blob:nth-child(1) {
  left: 0%;
  transition-delay: 0s;
}

/* line 424, ../../xampp/htdocs/ResolveSystemsOnLine/scss/style.scss */
.blob-btn__blob:nth-child(2) {
  left: 30%;
  transition-delay: 0.08s;
}

/* line 424, ../../xampp/htdocs/ResolveSystemsOnLine/scss/style.scss */
.blob-btn__blob:nth-child(3) {
  left: 60%;
  transition-delay: 0.16s;
}

/* line 424, ../../xampp/htdocs/ResolveSystemsOnLine/scss/style.scss */
.blob-btn__blob:nth-child(4) {
  left: 90%;
  transition-delay: 0.24s;
}

/* line 429, ../../xampp/htdocs/ResolveSystemsOnLine/scss/style.scss */
.blob-btn:hover .blob-btn__blob {
  transform: translateZ(0) scale(1.7);
}

@supports (filter: url("#goo")) {
  /* line 429, ../../xampp/htdocs/ResolveSystemsOnLine/scss/style.scss */
  .blob-btn:hover .blob-btn__blob {
    transform: translateZ(0) scale(1.4);
  }
}

@keyframes textclip {
  to {
    background-position: 200% center;
  }
}

/* line 446, ../../xampp/htdocs/ResolveSystemsOnLine/scss/style.scss */
.font-size-14 {
  font-size: 14px;
}

/* line 450, ../../xampp/htdocs/ResolveSystemsOnLine/scss/style.scss */
.font-size-15 {
  font-size: 15px;
}

/* line 454, ../../xampp/htdocs/ResolveSystemsOnLine/scss/style.scss */
.font-size-16 {
  font-size: 16px;
}

/* line 458, ../../xampp/htdocs/ResolveSystemsOnLine/scss/style.scss */
.font-size-20 {
  font-size: 16px;
}

/* line 462, ../../xampp/htdocs/ResolveSystemsOnLine/scss/style.scss */
.bg-cinza {
  background-color: #5c5c5c;
}

/* line 466, ../../xampp/htdocs/ResolveSystemsOnLine/scss/style.scss */
.font-cinza {
  color: #5c5c5c;
}

/* line 470, ../../xampp/htdocs/ResolveSystemsOnLine/scss/style.scss */
a.link-index,
a.link-no-line {
  text-decoration: none;
}

/* line 475, ../../xampp/htdocs/ResolveSystemsOnLine/scss/style.scss */
.plano {
  box-shadow: 8px 8px 10px -3px #007bffb3;
}

/* line 479, ../../xampp/htdocs/ResolveSystemsOnLine/scss/style.scss */
.larger-checkbox {
  width: 20px;
  height: 20px;
}

/* line 485, ../../xampp/htdocs/ResolveSystemsOnLine/scss/style.scss */
.caixa-borda {
  width: 300px;
  height: 150px;
  background: #5ccc3a;
  padding: 10px;
  border-radius: 10px 50px 90px 130px;
  box-sizing: border-box;
}

/* line 494, ../../xampp/htdocs/ResolveSystemsOnLine/scss/style.scss */
.caixa-borda-espessura {
  border-style: solid;
  border-color: #5ccc3a;
  border-width: 30px;
}

/* line 500, ../../xampp/htdocs/ResolveSystemsOnLine/scss/style.scss */
.caixa-borda-estilo-solid {
  width: 300px;
  height: 50px;
  border-style: solid;
  border-width: 10px;
  border-color: green;
}

/* line 508, ../../xampp/htdocs/ResolveSystemsOnLine/scss/style.scss */
.caixa-borda-estilo-groove {
  width: 300px;
  height: 100px;
  border-style: groove;
  border-width: 30px;
  border-color: green;
}

/* line 516, ../../xampp/htdocs/ResolveSystemsOnLine/scss/style.scss */
.caixa-borda-estilo-dotted {
  width: 300px;
  height: 50px;
  border-style: dotted;
  border-width: 3px;
  border-color: green;
}

/* line 524, ../../xampp/htdocs/ResolveSystemsOnLine/scss/style.scss */
.caixa-borda-estilo-inset {
  width: 300px;
  height: 100px;
  border-style: inset;
  border-width: 30px;
  border-color: green;
}

/* line 533, ../../xampp/htdocs/ResolveSystemsOnLine/scss/style.scss */
.texto {
  font-size: 1.5em;
  font-family: "Times New Roman", Times, serif;
}

/* line 538, ../../xampp/htdocs/ResolveSystemsOnLine/scss/style.scss */
.negrito {
  font-weight: bold;
}

/* line 542, ../../xampp/htdocs/ResolveSystemsOnLine/scss/style.scss */
.italico {
  font-style: italic;
}

/* line 546, ../../xampp/htdocs/ResolveSystemsOnLine/scss/style.scss */
.formatacao1 {
  text-decoration: underline;
}

/* line 550, ../../xampp/htdocs/ResolveSystemsOnLine/scss/style.scss */
.formatacao2 {
  text-decoration: overline;
}

/* line 554, ../../xampp/htdocs/ResolveSystemsOnLine/scss/style.scss */
.formatacao3 {
  text-decoration: line-through;
}

/* line 558, ../../xampp/htdocs/ResolveSystemsOnLine/scss/style.scss */
.menu-fixed {
  position: fixed;
  z-index: 1;
}

/* line 563, ../../xampp/htdocs/ResolveSystemsOnLine/scss/style.scss */
footer {
  width: 100%;
  position: fixed;
  bottom: 0;
  left: 0;
}

/* line 570, ../../xampp/htdocs/ResolveSystemsOnLine/scss/style.scss */
html,
body .parallax {
  margin: 0;
  /* IMPORTANTE PARA FUNCIONAR O PARALLAX */
  height: 100%;
}

/* line 577, ../../xampp/htdocs/ResolveSystemsOnLine/scss/style.scss */
.img1,
.img2,
.img3 {
  position: relative;
  height: 100%;
  min-height: 500px;
  opacity: 0.7;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  background-attachment: fixed;
}

/* line 590, ../../xampp/htdocs/ResolveSystemsOnLine/scss/style.scss */
.img1 {
  background-image: url(../../img/fotos/imagem2.jpg);
}

/* line 594, ../../xampp/htdocs/ResolveSystemsOnLine/scss/style.scss */
.img2 {
  background-color: white;
}

/* line 598, ../../xampp/htdocs/ResolveSystemsOnLine/scss/style.scss */
.img3 {
  background-image: url(../../img/fotos/imagem6.jpg);
}

/* line 602, ../../xampp/htdocs/ResolveSystemsOnLine/scss/style.scss */
.video-menor {
  max-width: 30%;
}

/* line 606, ../../xampp/htdocs/ResolveSystemsOnLine/scss/style.scss */
p.cor-paragrafo {
  color: black;
}

/* line 611, ../../xampp/htdocs/ResolveSystemsOnLine/scss/style.scss */
.contatos {
  padding-top: 10px;
  padding-bottom: 10px;
}

/* line 616, ../../xampp/htdocs/ResolveSystemsOnLine/scss/style.scss */
.borda-redonda-10 {
  border-radius: 10px;
}

/* line 620, ../../xampp/htdocs/ResolveSystemsOnLine/scss/style.scss */
.borda-redonda-20,
.borda-redonda-20-footer {
  border-radius: 20px;
}

/* line 625, ../../xampp/htdocs/ResolveSystemsOnLine/scss/style.scss */
.borda-redonda-40 {
  border-radius: 40px;
}

/* line 630, ../../xampp/htdocs/ResolveSystemsOnLine/scss/style.scss */
div#mapa {
  float: left;
  width: 310px;
  margin-left: 37px;
}

/* line 636, ../../xampp/htdocs/ResolveSystemsOnLine/scss/style.scss */
div.font-reduzida {
  font-size: 12px;
}

/* line 640, ../../xampp/htdocs/ResolveSystemsOnLine/scss/style.scss */
.text-size-button {
  font-size: 20px;
  padding: 10px 50px;
}

/* line 645, ../../xampp/htdocs/ResolveSystemsOnLine/scss/style.scss */
.text-size-grande {
  font-size: 30px;
}

/* line 649, ../../xampp/htdocs/ResolveSystemsOnLine/scss/style.scss */
.text-size-20 {
  font-size: 20px;
}

/* line 654, ../../xampp/htdocs/ResolveSystemsOnLine/scss/style.scss */
.flipswitch {
  position: relative;
  width: 127px;
}

/* line 659, ../../xampp/htdocs/ResolveSystemsOnLine/scss/style.scss */
.flipswitch input[type=checkbox] {
  display: none;
}

/* line 663, ../../xampp/htdocs/ResolveSystemsOnLine/scss/style.scss */
.flipswitch-label {
  display: block;
  overflow: hidden;
  cursor: pointer;
  border: 1px solid #999999;
  border-radius: 19px;
}

/* line 671, ../../xampp/htdocs/ResolveSystemsOnLine/scss/style.scss */
.flipswitch-inner {
  width: 200%;
  margin-left: -100%;
  transition: margin 0.3s ease-in 0s;
}

/* line 677, ../../xampp/htdocs/ResolveSystemsOnLine/scss/style.scss */
.flipswitch-inner:before, .flipswitch-inner:after {
  float: left;
  width: 50%;
  height: 20px;
  padding: 0;
  line-height: 20px;
  font-size: 16px;
  color: white;
  font-family: Trebuchet, Arial, sans-serif;
  font-weight: bold;
  box-sizing: border-box;
}

/* line 690, ../../xampp/htdocs/ResolveSystemsOnLine/scss/style.scss */
.flipswitch-inner:before {
  content: "ATIVO";
  padding-left: 20px;
  background-color: #007bff;
  color: #FFFFFF;
}

/* line 697, ../../xampp/htdocs/ResolveSystemsOnLine/scss/style.scss */
.flipswitch-inner:after {
  content: "INATIVO";
  padding-right: 20px;
  background-color: #EBEBEB;
  color: #888888;
  text-align: right;
}

/* line 705, ../../xampp/htdocs/ResolveSystemsOnLine/scss/style.scss */
.flipswitch-switch {
  width: 20px;
  margin: 0px;
  background: #FFFFFF;
  border: 1px solid #999999;
  border-radius: 19px;
  position: absolute;
  top: 0;
  bottom: 0;
  right: 105px;
  transition: all 0.3s ease-in 0s;
}

/* line 718, ../../xampp/htdocs/ResolveSystemsOnLine/scss/style.scss */
.flipswitch-cb:checked + .flipswitch-label .flipswitch-inner {
  margin-left: 0;
}

/* line 722, ../../xampp/htdocs/ResolveSystemsOnLine/scss/style.scss */
.flipswitch-cb:checked + .flipswitch-label .flipswitch-switch {
  right: 0;
}

/* line 729, ../../xampp/htdocs/ResolveSystemsOnLine/scss/style.scss */
body.bg-formatura {
  background-image: url(../../img/portifolio/formatura/formatura.jpg);
  position: relative;
  height: 100%;
  min-height: 500px;
  opacity: 0.7;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  background-attachment: fixed;
}

/* line 741, ../../xampp/htdocs/ResolveSystemsOnLine/scss/style.scss */
.text-fasthand {
  font-family: "Fasthand";
  font-size: 40px;
  color: #a71e47;
}

/* line 748, ../../xampp/htdocs/ResolveSystemsOnLine/scss/style.scss */
.font-size-15 {
  font-size: 15px;
}

/* line 752, ../../xampp/htdocs/ResolveSystemsOnLine/scss/style.scss */
.font-size-19 {
  font-size: 19px;
}

/* line 756, ../../xampp/htdocs/ResolveSystemsOnLine/scss/style.scss */
.font-size-20 {
  font-size: 20px;
}

/* line 760, ../../xampp/htdocs/ResolveSystemsOnLine/scss/style.scss */
.font-size-25 {
  font-size: 25px;
}

/* line 764, ../../xampp/htdocs/ResolveSystemsOnLine/scss/style.scss */
textarea {
  overflow: hidden;
  resize: none;
}

/* line 769, ../../xampp/htdocs/ResolveSystemsOnLine/scss/style.scss */
.link-visualiza-mensagem,
.link-visualiza-mensagem:hover,
.link-visualiza-mensagem:focus {
  text-decoration: none;
}

/* line 775, ../../xampp/htdocs/ResolveSystemsOnLine/scss/style.scss */
span.recuo-primeira-linha,
.recuo-primeira-linha {
  text-indent: 25px;
}

/* line 780, ../../xampp/htdocs/ResolveSystemsOnLine/scss/style.scss */
.borda-redonda-10-right {
  border-radius: 0 10px 10px 0;
}

/* line 784, ../../xampp/htdocs/ResolveSystemsOnLine/scss/style.scss */
.borda-redonda-10-left {
  border-radius: 10px 0 0 10px;
}

/* line 788, ../../xampp/htdocs/ResolveSystemsOnLine/scss/style.scss */
.borda-redonda-20-right {
  border-radius: 0 20px 20px 0;
}

/* line 792, ../../xampp/htdocs/ResolveSystemsOnLine/scss/style.scss */
.borda-redonda-20-left {
  border-radius: 20px 0 0 20px;
}

/* line 796, ../../xampp/htdocs/ResolveSystemsOnLine/scss/style.scss */
.borda-redonda-top-left {
  border-radius: 10px 0 0 0;
}

/* line 800, ../../xampp/htdocs/ResolveSystemsOnLine/scss/style.scss */
.borda-redonda-top-right {
  border-radius: 0 10px 0 0;
}

/* line 804, ../../xampp/htdocs/ResolveSystemsOnLine/scss/style.scss */
.classVisivel-no {
  display: none;
}

/* line 808, ../../xampp/htdocs/ResolveSystemsOnLine/scss/style.scss */
.classVisivel-yes {
  display: contents;
}

/* line 813, ../../xampp/htdocs/ResolveSystemsOnLine/scss/style.scss */
.font-link {
  font-size: 25px;
}

/*# sourceMappingURL=style.css.map */