@media (max-width: 575.98px) {
  /* line 3, ../../xampp/htdocs/ResolveSystemsOnLine/scss/style.scss */
  p.recuo-primeira-linha {
    text-indent: 0;
  }
  /* line 7, ../../xampp/htdocs/ResolveSystemsOnLine/scss/style.scss */
  .voltar-topo {
    padding-bottom: 50px;
  }
  /* line 11, ../../xampp/htdocs/ResolveSystemsOnLine/scss/style.scss */
  #video {
    width: 345px;
    height: 213px;
  }
  /* line 17, ../../xampp/htdocs/ResolveSystemsOnLine/scss/style.scss */
  .conteudo {
    padding-bottom: 100px;
  }
  /* line 21, ../../xampp/htdocs/ResolveSystemsOnLine/scss/style.scss */
  .carousel-item {
    height: 650px;
  }
  /* line 25, ../../xampp/htdocs/ResolveSystemsOnLine/scss/style.scss */
  .espaco-pre-footer {
    height: 150px;
  }
  /* line 29, ../../xampp/htdocs/ResolveSystemsOnLine/scss/style.scss */
  .desaparece-sm {
    display: none;
  }
}

/*Extra small devices (portrait phones, menor que 576px)*/
@media (min-width: 576px) and (max-width: 767.98px) {
  /* line 37, ../../xampp/htdocs/ResolveSystemsOnLine/scss/style.scss */
  #video {
    width: 460px;
    height: 355px;
  }
  /* line 42, ../../xampp/htdocs/ResolveSystemsOnLine/scss/style.scss */
  .voltar-topo {
    padding-bottom: 35px;
  }
  /* line 47, ../../xampp/htdocs/ResolveSystemsOnLine/scss/style.scss */
  .conteudo {
    padding-bottom: 75px;
  }
  /* line 51, ../../xampp/htdocs/ResolveSystemsOnLine/scss/style.scss */
  .espaco-pre-footer {
    height: 150px;
  }
  /* line 55, ../../xampp/htdocs/ResolveSystemsOnLine/scss/style.scss */
  .desaparece-md {
    display: none;
  }
}

/*Small devices (landscape phones, 576px e maiores)*/
@media (min-width: 768px) and (max-width: 990.98px) {
  /* line 63, ../../xampp/htdocs/ResolveSystemsOnLine/scss/style.scss */
  p.recuo-primeira-linha {
    text-indent: 20px;
  }
  /* line 67, ../../xampp/htdocs/ResolveSystemsOnLine/scss/style.scss */
  .voltar-topo {
    padding-bottom: 50px;
  }
  /* line 72, ../../xampp/htdocs/ResolveSystemsOnLine/scss/style.scss */
  .conteudo {
    padding-bottom: 75px;
  }
}

/*Medium devices (tablets, 768px e maiores)*/
@media (min-width: 991px) and (max-width: 1199.98px) {
  /* line 80, ../../xampp/htdocs/ResolveSystemsOnLine/scss/style.scss */
  p.recuo-primeira-linha {
    text-indent: 40px;
  }
  /* line 84, ../../xampp/htdocs/ResolveSystemsOnLine/scss/style.scss */
  #video {
    width: 576px;
    height: 444px;
  }
  /* line 89, ../../xampp/htdocs/ResolveSystemsOnLine/scss/style.scss */
  .voltar-topo {
    padding-bottom: 20px;
  }
}

/*Large devices (desktops, 992px e maiores)*/
@media (min-width: 1200px) {
  /* line 97, ../../xampp/htdocs/ResolveSystemsOnLine/scss/style.scss */
  p.recuo-primeira-linha {
    text-indent: 50px;
  }
  /* line 101, ../../xampp/htdocs/ResolveSystemsOnLine/scss/style.scss */
  .voltar-topo {
    padding-bottom: 30px;
  }
  /* line 105, ../../xampp/htdocs/ResolveSystemsOnLine/scss/style.scss */
  .espaco-pre-footer {
    height: 150px;
  }
}

/* line 110, ../../xampp/htdocs/ResolveSystemsOnLine/scss/style.scss */
ul.navbar-nav > li.nav-item > a.nav-link {
  background-color: #f8f9fa;
  color: #007bff;
}

/* line 115, ../../xampp/htdocs/ResolveSystemsOnLine/scss/style.scss */
.navbar-toggler:hover,
.navbar-toggler:focus,
ul.navbar-nav > li.nav-item > a.nav-link:hover,
ul.navbar-nav > li.nav-item > a.nav-link:focus,
ul.navbar-nav > li.nav-item > div.dropdown-menu > a.dropdown-item:hover,
ul.navbar-nav > li.nav-item > div.dropdown-menu > a.dropdown-item:focus {
  background-color: #007bff;
  border-radius: 10px;
  color: #f8f9fa;
}

/* line 126, ../../xampp/htdocs/ResolveSystemsOnLine/scss/style.scss */
.negrito {
  font-weight: bold;
}

/* line 130, ../../xampp/htdocs/ResolveSystemsOnLine/scss/style.scss */
p.justificado {
  text-align: justify;
}

/* line 134, ../../xampp/htdocs/ResolveSystemsOnLine/scss/style.scss */
hr.divisor {
  border: 1px dotted green;
}

/* line 138, ../../xampp/htdocs/ResolveSystemsOnLine/scss/style.scss */
.caixa div {
  background: #ffffffb0;
}

/* line 142, ../../xampp/htdocs/ResolveSystemsOnLine/scss/style.scss */
.carousel-caption {
  width: 60%;
}

@font-face {
  font-family: "Ancient";
  src: url("../../fonts/Ancient-Medium.woff");
}

@font-face {
  font-family: "Bring";
  src: url("../../fonts/BringHeart.woff");
}

@font-face {
  font-family: "Madelina";
  src: url("../../fonts/MadelinaScript.woff");
}

@font-face {
  font-family: "Fasthand";
  src: url("../../fonts/Fasthand-Regular.ttf");
}

/* line 167, ../../xampp/htdocs/ResolveSystemsOnLine/scss/style.scss */
h1.ancient {
  font-size: 3em;
  font-family: "Ancient";
}

/* line 172, ../../xampp/htdocs/ResolveSystemsOnLine/scss/style.scss */
h2.bring {
  font-family: "Bring";
  font-size: 3em;
}

/* line 177, ../../xampp/htdocs/ResolveSystemsOnLine/scss/style.scss */
span.fasthand {
  font-family: "Fasthand";
  font-size: 1.3em;
}

/* line 182, ../../xampp/htdocs/ResolveSystemsOnLine/scss/style.scss */
h3.madelina {
  font-size: 3em;
  font-family: "Madelina";
}

/* line 187, ../../xampp/htdocs/ResolveSystemsOnLine/scss/style.scss */
.animate-character,
.animate-character-formatura,
.animate-character-formatura-2,
.animate-character-msg {
  background-size: auto auto;
  background-clip: border-box;
  background-size: 200% auto;
  color: #fff;
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  display: inline-block;
  font-weight: bold;
}

/* line 203, ../../xampp/htdocs/ResolveSystemsOnLine/scss/style.scss */
.animate-character,
.animate-character-formatura,
.animate-character-formatura-2 {
  animation: textclip 3s linear infinite;
}

/* line 209, ../../xampp/htdocs/ResolveSystemsOnLine/scss/style.scss */
.animate-character-msg {
  animation: textclip 0.5s linear infinite;
}

/* line 213, ../../xampp/htdocs/ResolveSystemsOnLine/scss/style.scss */
.animate-character,
.animate-character-msg {
  text-transform: uppercase;
  background-image: linear-gradient(-225deg, #007bff 0%, #28a745 20%, #ffc107 40%, #fd9902 60%, #e703fc 80%, #dc3545 100%);
}

/* line 227, ../../xampp/htdocs/ResolveSystemsOnLine/scss/style.scss */
.animate-character {
  font-size: 50px;
}

/* line 231, ../../xampp/htdocs/ResolveSystemsOnLine/scss/style.scss */
.animate-character-formatura,
.animate-character-msg {
  font-size: 20px;
}

/* line 236, ../../xampp/htdocs/ResolveSystemsOnLine/scss/style.scss */
.animate-character-formatura {
  text-transform: uppercase;
  background-image: linear-gradient(-225deg, #e703fc 0%, #7a0a85 20%, #ff0707 40%, #5e0786 60%, #e703fc 80%, #dc3545 100%);
}

/* line 249, ../../xampp/htdocs/ResolveSystemsOnLine/scss/style.scss */
.animate-character-formatura-2 {
  background-image: linear-gradient(-225deg, #e703fc 0%, #7a0a85 20%, #ff0707 40%, #5e0786 60%, #e703fc 80%, #dc3545 100%);
  font-size: 15px;
}

@keyframes textclip {
  to {
    background-position: 200% center;
  }
}

/* line 268, ../../xampp/htdocs/ResolveSystemsOnLine/scss/style.scss */
.font-size-14 {
  font-size: 14px;
}

/* line 272, ../../xampp/htdocs/ResolveSystemsOnLine/scss/style.scss */
.font-size-15 {
  font-size: 15px;
}

/* line 276, ../../xampp/htdocs/ResolveSystemsOnLine/scss/style.scss */
.bg-cinza {
  background-color: #5c5c5c;
}

/* line 280, ../../xampp/htdocs/ResolveSystemsOnLine/scss/style.scss */
.font-cinza {
  color: #5c5c5c;
}

/* line 284, ../../xampp/htdocs/ResolveSystemsOnLine/scss/style.scss */
a.link-index,
a.link-no-line {
  text-decoration: none;
}

/* line 289, ../../xampp/htdocs/ResolveSystemsOnLine/scss/style.scss */
.plano {
  box-shadow: 8px 8px 10px -3px #007bffb3;
}

/* line 294, ../../xampp/htdocs/ResolveSystemsOnLine/scss/style.scss */
.caixa-borda {
  width: 300px;
  height: 150px;
  background: #5ccc3a;
  padding: 10px;
  border-radius: 10px 50px 90px 130px;
  box-sizing: border-box;
}

/* line 303, ../../xampp/htdocs/ResolveSystemsOnLine/scss/style.scss */
.caixa-borda-espessura {
  border-style: solid;
  border-color: #5ccc3a;
  border-width: 30px;
}

/* line 309, ../../xampp/htdocs/ResolveSystemsOnLine/scss/style.scss */
.caixa-borda-estilo-solid {
  width: 300px;
  height: 50px;
  border-style: solid;
  border-width: 10px;
  border-color: green;
}

/* line 317, ../../xampp/htdocs/ResolveSystemsOnLine/scss/style.scss */
.caixa-borda-estilo-groove {
  width: 300px;
  height: 100px;
  border-style: groove;
  border-width: 30px;
  border-color: green;
}

/* line 325, ../../xampp/htdocs/ResolveSystemsOnLine/scss/style.scss */
.caixa-borda-estilo-dotted {
  width: 300px;
  height: 50px;
  border-style: dotted;
  border-width: 3px;
  border-color: green;
}

/* line 333, ../../xampp/htdocs/ResolveSystemsOnLine/scss/style.scss */
.caixa-borda-estilo-inset {
  width: 300px;
  height: 100px;
  border-style: inset;
  border-width: 30px;
  border-color: green;
}

/* line 342, ../../xampp/htdocs/ResolveSystemsOnLine/scss/style.scss */
.texto {
  font-size: 1.5em;
  font-family: "Times New Roman", Times, serif;
}

/* line 347, ../../xampp/htdocs/ResolveSystemsOnLine/scss/style.scss */
.negrito {
  font-weight: bold;
}

/* line 351, ../../xampp/htdocs/ResolveSystemsOnLine/scss/style.scss */
.italico {
  font-style: italic;
}

/* line 355, ../../xampp/htdocs/ResolveSystemsOnLine/scss/style.scss */
.formatacao1 {
  text-decoration: underline;
}

/* line 359, ../../xampp/htdocs/ResolveSystemsOnLine/scss/style.scss */
.formatacao2 {
  text-decoration: overline;
}

/* line 363, ../../xampp/htdocs/ResolveSystemsOnLine/scss/style.scss */
.formatacao3 {
  text-decoration: line-through;
}

/* line 367, ../../xampp/htdocs/ResolveSystemsOnLine/scss/style.scss */
.menu-fixed {
  position: fixed;
  z-index: 1;
}

/* line 372, ../../xampp/htdocs/ResolveSystemsOnLine/scss/style.scss */
footer {
  width: 100%;
  position: fixed;
  bottom: 0;
  left: 0;
}

/* line 379, ../../xampp/htdocs/ResolveSystemsOnLine/scss/style.scss */
html,
body .parallax {
  margin: 0;
  /* IMPORTANTE PARA FUNCIONAR O PARALLAX */
  height: 100%;
}

/* line 386, ../../xampp/htdocs/ResolveSystemsOnLine/scss/style.scss */
.img1,
.img2,
.img3 {
  position: relative;
  height: 100%;
  min-height: 500px;
  opacity: 0.7;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  background-attachment: fixed;
}

/* line 399, ../../xampp/htdocs/ResolveSystemsOnLine/scss/style.scss */
.img1 {
  background-image: url(../../img/fotos/imagem2.jpg);
}

/* line 403, ../../xampp/htdocs/ResolveSystemsOnLine/scss/style.scss */
.img2 {
  background-color: white;
}

/* line 407, ../../xampp/htdocs/ResolveSystemsOnLine/scss/style.scss */
.img3 {
  background-image: url(../../img/fotos/imagem6.jpg);
}

/* line 411, ../../xampp/htdocs/ResolveSystemsOnLine/scss/style.scss */
.video-menor {
  max-width: 30%;
}

/* line 415, ../../xampp/htdocs/ResolveSystemsOnLine/scss/style.scss */
p.cor-paragrafo {
  color: black;
}

/* line 420, ../../xampp/htdocs/ResolveSystemsOnLine/scss/style.scss */
.contatos {
  padding-top: 10px;
  padding-bottom: 10px;
}

/* line 425, ../../xampp/htdocs/ResolveSystemsOnLine/scss/style.scss */
.borda-redonda-10 {
  border-radius: 10px;
}

/* line 429, ../../xampp/htdocs/ResolveSystemsOnLine/scss/style.scss */
.borda-redonda-20 {
  border-radius: 20px;
  padding: 10px 0;
}

/* line 434, ../../xampp/htdocs/ResolveSystemsOnLine/scss/style.scss */
.borda-redonda-20-footer {
  border-radius: 20px;
}

/* line 438, ../../xampp/htdocs/ResolveSystemsOnLine/scss/style.scss */
.borda-redonda-40 {
  border-radius: 40px;
}

/* line 443, ../../xampp/htdocs/ResolveSystemsOnLine/scss/style.scss */
div#mapa {
  float: left;
  width: 310px;
  margin-left: 37px;
}

/* line 449, ../../xampp/htdocs/ResolveSystemsOnLine/scss/style.scss */
div.font-reduzida {
  font-size: 12px;
}

/* line 453, ../../xampp/htdocs/ResolveSystemsOnLine/scss/style.scss */
.text-size-button {
  font-size: 20px;
  padding: 10px 50px;
}

/* line 458, ../../xampp/htdocs/ResolveSystemsOnLine/scss/style.scss */
.text-size-grande {
  font-size: 30px;
}

/* line 463, ../../xampp/htdocs/ResolveSystemsOnLine/scss/style.scss */
.flipswitch {
  position: relative;
  width: 127px;
}

/* line 468, ../../xampp/htdocs/ResolveSystemsOnLine/scss/style.scss */
.flipswitch input[type=checkbox] {
  display: none;
}

/* line 472, ../../xampp/htdocs/ResolveSystemsOnLine/scss/style.scss */
.flipswitch-label {
  display: block;
  overflow: hidden;
  cursor: pointer;
  border: 1px solid #999999;
  border-radius: 19px;
}

/* line 480, ../../xampp/htdocs/ResolveSystemsOnLine/scss/style.scss */
.flipswitch-inner {
  width: 200%;
  margin-left: -100%;
  transition: margin 0.3s ease-in 0s;
}

/* line 486, ../../xampp/htdocs/ResolveSystemsOnLine/scss/style.scss */
.flipswitch-inner:before, .flipswitch-inner:after {
  float: left;
  width: 50%;
  height: 20px;
  padding: 0;
  line-height: 20px;
  font-size: 16px;
  color: white;
  font-family: Trebuchet, Arial, sans-serif;
  font-weight: bold;
  box-sizing: border-box;
}

/* line 499, ../../xampp/htdocs/ResolveSystemsOnLine/scss/style.scss */
.flipswitch-inner:before {
  content: "ATIVO";
  padding-left: 20px;
  background-color: #007bff;
  color: #FFFFFF;
}

/* line 506, ../../xampp/htdocs/ResolveSystemsOnLine/scss/style.scss */
.flipswitch-inner:after {
  content: "INATIVO";
  padding-right: 20px;
  background-color: #EBEBEB;
  color: #888888;
  text-align: right;
}

/* line 514, ../../xampp/htdocs/ResolveSystemsOnLine/scss/style.scss */
.flipswitch-switch {
  width: 20px;
  margin: 0px;
  background: #FFFFFF;
  border: 1px solid #999999;
  border-radius: 19px;
  position: absolute;
  top: 0;
  bottom: 0;
  right: 105px;
  transition: all 0.3s ease-in 0s;
}

/* line 527, ../../xampp/htdocs/ResolveSystemsOnLine/scss/style.scss */
.flipswitch-cb:checked + .flipswitch-label .flipswitch-inner {
  margin-left: 0;
}

/* line 531, ../../xampp/htdocs/ResolveSystemsOnLine/scss/style.scss */
.flipswitch-cb:checked + .flipswitch-label .flipswitch-switch {
  right: 0;
}

/* line 538, ../../xampp/htdocs/ResolveSystemsOnLine/scss/style.scss */
body.bg-formatura {
  background-image: url(../../img/portifolio/formatura/formatura.jpg);
  position: relative;
  height: 100%;
  min-height: 500px;
  opacity: 0.7;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  background-attachment: fixed;
}

/* line 550, ../../xampp/htdocs/ResolveSystemsOnLine/scss/style.scss */
.text-fasthand {
  font-family: "Fasthand";
  font-size: 40px;
  color: #a71e47;
}

/* line 557, ../../xampp/htdocs/ResolveSystemsOnLine/scss/style.scss */
.font-size-15 {
  font-size: 15px;
}

/* line 561, ../../xampp/htdocs/ResolveSystemsOnLine/scss/style.scss */
.font-size-20 {
  font-size: 20px;
}

/* line 565, ../../xampp/htdocs/ResolveSystemsOnLine/scss/style.scss */
.font-size-25 {
  font-size: 25px;
}

/* line 569, ../../xampp/htdocs/ResolveSystemsOnLine/scss/style.scss */
textarea {
  overflow: hidden;
  resize: none;
}

/* line 574, ../../xampp/htdocs/ResolveSystemsOnLine/scss/style.scss */
.link-visualiza-mensagem,
.link-visualiza-mensagem:hover,
.link-visualiza-mensagem:focus {
  text-decoration: none;
}

/* line 580, ../../xampp/htdocs/ResolveSystemsOnLine/scss/style.scss */
span.recuo-primeira-linha {
  text-indent: 25px;
}

/* line 584, ../../xampp/htdocs/ResolveSystemsOnLine/scss/style.scss */
.borda-redonda-top-left {
  border-radius: 10px 0 0 0;
}

/* line 588, ../../xampp/htdocs/ResolveSystemsOnLine/scss/style.scss */
.borda-redonda-top-right {
  border-radius: 0 10px 0 0;
}

/* line 592, ../../xampp/htdocs/ResolveSystemsOnLine/scss/style.scss */
.classVisivel-no {
  display: none;
}

/* line 596, ../../xampp/htdocs/ResolveSystemsOnLine/scss/style.scss */
.classVisivel-yes {
  display: contents;
}

/*# sourceMappingURL=style.css.map */